[2019-01-07 17:58] dselman opened #1 "Support pasting HTML"
https://github.com/ianstormtaylor/slate/tree/master/examples/paste-html

[2019-01-07 17:58] dselman opened #2 "Unit tests"
We need unit tests for the JSON <-> MD conversion

[2019-01-11 19:22] dselman opened #4 "Slate: onEnter inside list"
When adding a list item using the Slate editor and then pressing enter to add a new item a new line is added, but no bullet or number is displayed.

[2019-01-11 19:24] dselman opened #5 "Slate: onEnter inside block quote"
When typing text and pressing enter inside a block quote a newline is added to the block quote, however the MD that renders doesn't include the additional text.

[2019-01-15 07:49] dselman opened #6 "Convert to set of plugins"
Convert the functionality to a set of plugins, so that the code is more modular.

https://github.com/ianstormtaylor/slate/blob/master/docs/reference/slate/plugins.md

[2019-01-15 07:50] dselman opened #7 "Allow user to pass in their own plugins for extensibility"
Allow the end user to pass a set of plugins into the editor.

[2019-01-15 07:51] dselman opened #8 "Allow the end user to extend the schema"
Allow the end user to extend/customize the slate.js schema used by the editor.

[2019-01-15 07:51] dselman opened #9 "Extend the example to show using a customised schema/block/plugin"
Add a new block type, block renderer and interaction.

[2019-01-29 12:25] dselman opened #11 "Better editor for links"
Provide a better editor experience to edit links. E.g. see what Google Docs does, or other comparable editors.

[2019-01-29 12:25] #5 closed

[2019-01-29 12:25] #4 closed

[2019-02-15 16:17] dselman opened #14 "Plugins can contribute to a formatting toolbar"
Allow plugins to contribute icons to a formatting toolbar and to handle commands.

[2019-02-23 09:51] dselman commented on #9
Added the video plugin

[2019-02-23 09:51] #9 closed

[2019-02-23 09:52] dselman commented on #6
Code needs clean up but the basics are in place.

[2019-02-23 09:52] #6 closed

[2019-02-23 09:52] dselman commented on #1
Plugins can now handle pasting HTML

[2019-02-23 09:52] #1 closed

[2019-02-23 09:52] dselman commented on #8
Plugins can now extend the schema.

[2019-02-23 09:52] #8 closed

[2019-02-23 09:53] dselman commented on #7
The editor now has a props for the plugins that the user would like to use.

[2019-02-23 09:53] #7 closed

[2019-02-23 09:53] dselman commented on #14
The video plugin contributes a button to the toolbar.

[2019-02-23 09:53] #14 closed

[2019-02-23 09:54] dselman opened #16 "Support read-only zones in the editor"
Define a mark that locks selective text in the editor.

[2019-02-23 10:01] dselman opened #17 "Add list icons to the toolbar"
The List plugin should contribute toolbar buttons for ordered and unordered lists.

[2019-02-23 10:04] dselman opened #18 "Render images inline"
If we have a link to an image we could attempt to render the image inline.

[2019-02-23 10:05] dselman opened #19 "Render a gutter with line numbers"
For some users a gutter area that renders line numbers would be useful.

[2019-02-23 11:11] dselman opened #21 "Enter after a video duplicates it"
Pressing enter after a video tag duplicates it.

[2019-02-23 11:14] dselman opened #20 "Font size toolbar buttons"
The toolbar buttons for font size need to increase or decrease the font size from normal to h1, h2 etc.

We also need better icons for these buttons (see Medium for example).

[2019-02-23 11:14] dselman opened #22 "Use Serif font for headings"

[2019-02-23 11:16] dselman opened #23 "Optionally hide the markdown tab/pane"
Some users will want to limit the users to only editing using the rich text pane.

[2019-02-23 11:17] dselman opened #24 "User interface to insert a horizontal rule"
There is no UI to insert a horizontal rule. Do we want a pluggable (+) UI for insertion?

[2019-02-23 14:54] jeromesimeon commented on #23
An options menu might be nice (e.g., markdown on flag, show compiled ergo flag)?

[2019-02-23 14:56] jeromesimeon commented on #19
Line numbers are tricky on a rich text due to the various font size, but there are some available on CodeMirror windows. They are particularly useful when there is wraparound on lines:
<img width="1002" alt="screen shot 2019-02-23 at 9 56 10 am" src="https://user-images.githubusercontent.com/670099/53288004-58034a00-3751-11e9-9472-82eee5ff8e32.png">

[2019-02-23 14:57] jeromesimeon commented on #18
Do we have examples of contracts with diagrams?

[2019-02-23 14:58] jeromesimeon commented on #16
Should that be a global flag? "Lock text" option?

[2019-02-23 15:50] dselman commented on #18
This component is not specific to contracts. There will be another component for that.

[2019-02-23 15:51] dselman commented on #16
Slate already has a global flag. We ended read-only sections, possibly via a plugin.

[2019-04-24 14:45] dselman opened #26 "Prevent the removal of variables"
When the editor is in the lockText mode it should not be possible to completely remove a variable.

[2019-05-13 16:16] jeromesimeon commented on #2
Any thought about how those would be written? Using jest or more traditional mocha-style tests?

[2019-05-14 03:48] jeromesimeon commented on #2
Roundtrip tests would be useful. To answer my own question, jest seems like a fine choice. Here is a small example:

[code]

Note that even that first test fails round-tripping:
[code]

This may tie into some of the whitespace issues mentioned in https://github.com/accordproject/cicero-ui/issues/43

[2019-05-16 07:47] dselman opened #35 "Reimplement formatting toolbar"
The existing floating toolbar has been disabled during the port to the latest version of React. We should implement a static formatting toolbar that can be attached to the top of the editor.

[2019-05-16 07:50] dselman commented on #23
I will add a `props` so that the "Edit" toggle can be hidden.

[2019-05-16 07:50] dselman commented on #20
Related to #35

[2019-05-16 07:51] dselman commented on #17
Related to #35

[2019-05-20 16:48] Michael-Grover commented on #35
https://projects.invisionapp.com/d/main#/console/16741009/364322244/preview
![image](https://user-images.githubusercontent.com/40569793/58038130-16d6c800-7afd-11e9-92fd-5b09e5828694.png)

assets:
[icons.zip](https://github.com/accordproject/markdown-editor/files/3198906/icons.zip)

[2019-05-20 19:56] Michael-Grover commented on #35
Updated:

https://projects.invisionapp.com/d/main#/console/16741009/364322244/preview
![image](https://user-images.githubusercontent.com/40569793/58048049-be60f400-7b17-11e9-8552-f68978b3bcc5.png)

Assets:
[icons.zip](https://github.com/accordproject/markdown-editor/files/3199618/icons.zip)

[2019-05-31 19:52] irmerk commented on #17
Finished with #42

[2019-05-31 19:52] #17 closed

[2019-05-31 19:53] irmerk commented on #35
Next step: #20

[2019-05-31 19:58] irmerk opened #43 "Update README"
# Related Issues
- Issue #42

## Tasks
- Add badges from Netlify and npm
- Update reference images
- Tighten instructions

[2019-05-31 20:08] irmerk commented on #43
Closed with #44

[2019-05-31 20:08] #43 closed

[2019-05-31 20:09] irmerk opened #45 "Connect Parameter Button with Variables"
# Related Issues
- Issue #42

## Tasks
- Render button responsively with a variable being selected
- Pressing the button should turn the selection into a variable

[2019-06-03 21:34] irmerk opened #48 "Toolbar Responsive Design"
# Related Issues
- Issue #35
- Issue #42

## Tasks
- Render static toolbar responsively, currently bugs with being embedded and width lowered.

[2019-06-04 12:39] irmerk commented on #48
Closed with #49

[2019-06-04 12:39] #48 closed

[2019-06-04 19:51] irmerk commented on #20
Closed with #50

[2019-06-04 19:51] #20 closed

[2019-06-18 20:52] irmerk opened #52 "Toolbar Parameter Button"
## Tasks
- Remove this button in the short term until we have parameter support. This can be commenting or conditional logic.

## Related Issues:
- #45
- #35

[2019-06-18 22:11] irmerk opened #54 "New Line Support"
## Current Behavior
- [Commonmark.js](https://github.com/commonmark/commonmark.js/) parser enters a `</html>` tag inside a block when a linbreak is added. The end of the block (`</clause>`) is then treated as a standalone `<html></html>` block.

![commonmark](https://user-images.githubusercontent.com/36460856/59723345-596eeb80-91f4-11e9-84ad-34c2b89de8df.png)

## Tasks
- Ensure every code block (e

[2019-06-19 04:21] dselman commented on #54
This is due to how CommonMark handles html blocks (there are 7 types!):
https://github.com/commonmark/commonmark-spec/blob/master/spec.txt#L2019

I have identified 3 options that preserve the newlines inside the nested custom blocks:
1 pre
2 code blocks
3 blockquotes

(1) and (2) are similar in that the markdown is not parsed by CommonMark, while (3) allows the markdown to be parsed in a single pa

[2019-06-19 15:06] irmerk opened #55 "AP Documentation Sync"
## Tasks
- Implement updated Accord Project documentation.

[2019-06-21 15:34] irmerk commented on #55
Closed with #56

[2019-06-21 15:34] #55 closed

[2019-06-24 21:08] dselman commented on #54
Resolved by: https://github.com/accordproject/markdown-editor/commit/90854c6491d9b908bc28bbbba783550a0105efc5#diff-25d902c24283ab8cfbac54dfa101ad31

[2019-06-24 21:08] #54 closed

[2019-06-24 21:10] dselman opened #62 "Toolbar has rendering and functional issues on Safari"
**Describe the bug**
The toolbar icons seem to be a little mis-aligned on Safari
Some of the toolbar buttons don't seem to always work on Safari, depending on the selection in the document.

**To Reproduce**
1. Run using the latest Safari on Mac OS X

**Expected behavior**
Toolbar should work.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Mac OS
 - Browser Safar

[2019-06-24 21:12] dselman commented on #62
<img width="553" alt="Screenshot 2019-06-24 at 22 11 40" src="https://user-images.githubusercontent.com/623108/60052413-14075e00-96cd-11e9-9397-75f30eab7ac1.png">

Icons appear clipped at base.

[2019-06-24 21:16] irmerk commented on #52
Closed with #61

[2019-06-24 21:16] #52 closed

[2019-07-08 18:08] dselman opened #67 "Allow plugins to block keyboard input"
Provide extension points for plugin authors to block:
- typing
- backspace
- enter
- paste

[2019-07-08 18:12] #67 closed

[2019-07-18 19:10] irmerk commented on #62
Notes on a rendering error while inspecting the functionality issue:

I ran into an issue with `npm link`. Essentially, while no errors were presented in the console, a React component in a folder was just not being executed/rendered. This was replicated by @DianaLease

Steps to reproduce:
1. Download `@accordproject/markdown-editor` and `@accordproject/cicero-ui` and run `npm install` in both
2.

[2019-07-18 19:13] irmerk commented on #62
#72 will correct the functionality - Safari does not support `onPointerDown`.

The issue with icon clipping may be because I very specifically set the size, margin, padding, etc. for each icon to make it fit. One of those must be slightly off from Chrome -> Safari. Will be looking into this.

[2019-07-23 14:38] irmerk commented on #62
Finished with #72 and #73

[2019-07-23 14:38] #62 closed

[2019-08-08 19:50] DianaLease opened #74 "toMarkdown.recursive() not working when node contains child node of type `variable`"
**Describe the bug**
`toMarkdown.recursive()` not working when node contains child node of type `variable`

**To Reproduce**
Steps to reproduce the behavior:
1. Call `toMarkdown.recursive` on a clause node that contains child nodes of type `variable`
For example...
[code]
2. Note the output:
[code]

**Expected behavior**
Expect the output to contain the variables.
For example...
[code]

[2019-08-08 19:57] irmerk commented on #74
For ease of reference, it looks like the `variable` is not handled in the function below:

https://github.com/accordproject/markdown-editor/blob/1f129f01564083847449e20d59ea2a3e3811242a/src/markdown/toMarkdown.js#L55-L94

[2019-08-08 20:08] jeromesimeon commented on #74
This should be handled by the `VariablePlugin` which is only available in Cicero-UI here:

https://github.com/accordproject/cicero-ui/blob/master/src/plugins/VariablePlugin.js

[2019-08-08 20:32] DianaLease commented on #74
Moved to `cicero-ui`: https://github.com/accordproject/cicero-ui/issues/103

[2019-08-08 20:32] #74 closed

[2019-08-15 19:53] DianaLease opened #75 "`lockText` not working as expected"
**Describe the bug**
Non-variable text is still editable when setting `lockText` to true.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `lockText` to true on the `SlateAsInputEditor`
2. Edit non-variable text
3. See text change

**Expected behavior**
Non-variable text should not be editable when lockText is true.

[2019-08-19 13:18] irmerk opened #77 "Fail to add clause to contract when headings exist"
**Describe the bug**
When drafting a contract in Template Studio v2 (TSv2), adding a clause to a contract with any plain text in a heading state (`heading_one`, `heading_two`, `heading_three`) will result in an error.

A error modal pops up (`TypeError`) with the message of:
[code]
Along with no error in the console. This error is generated by [this code][contractSaga] in TSv2.

In Safari, an expa

[2019-08-21 20:47] irmerk opened #78 "Dynamic Toolbar Styling"
**Is your feature request related to a problem? Please describe.**
The `Toolbar` should accept props to render certain buttons. It should therefore also render well no matter which buttons are toggled on.

**Describe the solution you'd like**
This could possibly have a minimum cap, such as `Styles`, `bold`, `italic`, and `underline`. Input would be helpful (@Michael-Grover)

**Describe alternative

[2019-08-22 14:56] irmerk opened #79 "Support readOnly prop Dictating Toolbar Rendering"
**Is your feature request related to a problem? Please describe.**
This component should accept an optional prop `readOnly` which toggles the toolbar rendering or not

**Describe the solution you'd like**
Conditionally render the toolbar based on the `readOnly` prop

**Describe alternatives you've considered**
N/A

**Additional context**
This relates to:
- Issue #35
- Issue #78

[2019-08-23 19:03] irmerk commented on #77
Closed in favor of [TSv2 Issue 81](https://github.com/accordproject/template-studio-v2/issues/81)

[2019-08-23 19:03] #77 closed

[2019-08-26 15:55] Michael-Grover opened #80 "Set Container and Text Width"
The text should be such that there are about 90 characters in one line. Currently in TSv2 there are about 75.

Let's do this by making the font size 14px instead of 16px, the padding 15px instead of 25px, and the width 620px instead of 600px.

Make the text container a fixed width, so that text line length never changes. Line breaks always stay in the same place. In the future, we will want to mak

[2019-08-28 12:43] #80 closed, assigned to jolanglinais

[2019-08-28 14:25] irmerk opened #84 "List Blocks Register as Hyperlink"
**Describe the bug**
Creating a bulleted list marks a block as a hyperlink

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [TSv2](https://accordproject-studio.netlify.com/)
2. Note that the hyperlink and list toolbar icons are not highlighted
3. Select text, click on bulleted list
4. Note the bulleted list **and** hyperlink icons are highlighted now

**Expected behavior**
Hyperlink sho

[2019-08-28 14:39] jolanglinais opened #85 "Remove styled-components from Bundle"
As described in the [`styled-components` official FAQ](https://www.styled-components.com/docs/faqs#i-am-a-library-author-should-i-bundle-styledcomponents-with-my-library), we should remove this package from our bundle.

[2019-08-28 16:20] #85 closed, assigned to nobody

[2019-08-29 15:51] irmerk opened #88 "Handle Duplicate clauseId from Copy/Paste"
# Linked Isues:
#### - [CUI 134](https://github.com/accordproject/cicero-ui/issues/134)
#### - [TSv2 82](https://github.com/accordproject/template-studio-v2/issues/85)

---

**Is your feature request related to a problem? Please describe.**
Currently, a `uuidv4` is assigned to each clause template added into the markdown of the contract. Copying and pasting should recognize that as already existin

[2019-09-14 20:22] irmerk commented on #2
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 20:31] irmerk commented on #24
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-14 20:34] irmerk commented on #78
### Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-21 16:16] KaustubhD opened #90 "Demo not working"
**Describe the bug**
After the `yarn start` and navigating to `localhost:3001/examples`, a blank screen is presented.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:3001'

**Expected behavior**
The posted screenshot in README.md

**Screenshots**
![image](https://user-images.githubusercontent.com/22456687/65376035-03a95400-dcb9-11e9-96be-4a2988a97073.png)

**Desktop (please

[2019-09-22 11:20] dselman commented on #90
@irmerk this seems to be an issue with the Formatting Toolbar, can you take a look please?

[code]

[2019-09-23 13:09] irmerk commented on #90
It looks like this has to do with having `styled-components` in both the `peerDependencies` and `devDependencies`. I think we haven't looked into the `markdown-editor` demo since we made the dependencies this way and were developing in `template-studio-v2`.

I won't have bandwidth to look into this until late this week at least.

[2019-09-25 19:25] irmerk commented on #90
Sorry for the delay @KaustubhD, there should be a fix for this now [here as version v0.5.16](https://github.com/accordproject/markdown-editor/releases/tag/v0.5.16)

[2019-09-29 01:55] RanadeepPolavarapu commented on #22
I'll have a crack at this one.

[2019-10-01 12:59] irmerk commented on #90
This issue is persisting in `cicero-ui` now. The fix I made in #91 worked when used in `template-studio-v2`, but is not working in `cicero-ui`. Reopening and adding more labels.

[2019-10-01 14:15] irmerk commented on #90
Should be finished now with [this PR](https://github.com/accordproject/cicero-ui/pull/147) being merged.

[2019-10-01 14:15] #90 closed

[2019-10-02 20:39] irmerk commented on #84
@sgbj

[2019-10-02 20:40] sgbj commented on #84
I'm here. 👋

[2019-10-03 14:01] #84 closed

[2019-10-03 19:05] irmerk opened #97 "Remove Underline Button from Toolbar"
Since transitioning to [utilize the `markdown-transform`](https://github.com/accordproject/markdown-editor/releases/tag/v0.6.0), we will need to take a step back from supporting underline for the time being. Markdown doesn't natively support underline, so we need to rethink how we serialise this.

Remove the underline option for now

We can then experiment with using `html` tags for underline.

##

[2019-10-03 19:09] irmerk opened #98 "Handle Underline in Markdown"
# To Be Done Instead of OR After Issue #97

Since transitioning to [utilize the `markdown-transform`](https://github.com/accordproject/markdown-editor/releases/tag/v0.6.0), we will need to take a step back from supporting underline for the time being. Markdown doesn't natively support underline, so we need to rethink how we serialise this.

We can then experiment with using `html` tags for underli

[2019-10-03 19:22] irmerk opened #100 "Hyperlink Tooltip"
**Is your feature request related to a problem? Please describe.**
We need to style hyperlink text in the document, as well as create a popup tooltip for setting the link.

**Describe the solution you'd like**
There should be a popup tooltip _similar to_ the one used in Google Docs. Use this as a vague reference, we are not looking to exactly copy it.

![Screen Shot 2019-10-03 at 15 17 51 PM](http

[2019-10-03 20:05] #22 closed

[2019-10-03 20:06] irmerk commented on #22
Great @RanadeepPolavarapu! Sorry I didn't get this approved before releasing `v0.6.0`, but we'll add you to the credits on the next release!

[2019-10-03 20:30] ahmedkrmn commented on #100
Can I work on this?

[2019-10-03 21:14] HTMLGhozt commented on #98
Since #97 has a PR at I'll start to take a look here. I'm assuming we're looking at `<u></u>` to underline.

[2019-10-04 00:18] irmerk opened #101 "Code Block Styling"
**Is your feature request related to a problem? Please describe.**
We need to style monospace or code block text in the document

**Describe the solution you'd like**
There should be the ability to style the monospace text via a prop

**Describe alternatives you've considered**
If possible, we should support block quotes and not just monospace text.

**Additional context**
A starting point for rel

[2019-10-04 00:20] irmerk opened #102 "Block Quote Styling"
**Is your feature request related to a problem? Please describe.**
We need to style block quote text in the document

**Describe the solution you'd like**
There should be the ability to style the block quote text via a prop

**Describe alternatives you've considered**
N/A

**Additional context**
A starting point for related code is in PR #65 and #66

[2019-10-04 08:27] dkbuntzen commented on #101
Could I take this one?

[2019-10-04 13:08] codingdefined commented on #79
I would like to work on it. In the current state, SlateAsInputEditor takes readOnly props but that is for Editor, should we combine it or create additional props say readOnlyToolbar to render Toolbar based on it's value?

[2019-10-04 13:39] Parikshit-Hooda opened #104 "update readme"
I am going through the readme and found some necessary punctuation additions, typo fixes and refactors. will raise the PR referencing this issue.
This is part of hacktoberfest!

[2019-10-04 14:25] irmerk commented on #79
Great @codingdefined! I think we should be creating an additional prop (`readOnlyToolbar`) as you said. `readOnly` will be for whether or not you can type in the editor, so it will be different.

[2019-10-05 12:16] pramodrhegde commented on #102
Please assign this to me.

[2019-10-05 12:30] pramodrhegde commented on #21
Please assign this to me.

[2019-10-05 16:17] irmerk commented on #104
Closed via #106, open if more problems are found for this issue.

[2019-10-05 16:17] #104 closed

[2019-10-05 17:06] #97 closed

[2019-10-05 18:29] ahmedkrmn commented on #100
Hi @irmerk, just a quick question to make sure I'm on the right track.
Currently the link pop up is a JavaScript `alert` that looks as follows:

_Add Link:_

![link](https://user-images.githubusercontent.com/20889958/66259192-62d59100-e7ae-11e9-8c05-6487f8ca5a59.PNG)
_Add Text:_

![text](https://user-images.githubusercontent.com/20889958/66259194-6537eb00-e7ae-11e9-945e-6212e333f0f6.PNG)

---

Wha

[2019-10-05 20:30] ahmedkrmn commented on #98
Since issue #97 is now closed, can I start working on this?

[2019-10-05 22:16] irmerk commented on #100
@ahmedkrmn yes, that's what I was thinking. And again, doesn't need to be _specifically_ like Google Docs, that's just an example. But definitely moving away from the alert style and more of a popup with text fields.

[2019-10-05 22:26] irmerk commented on #98
Yes @ahmedkrmn! Keep a lookout for the changes @dselman and I are making with the [`markdown-transform`](https://github.com/accordproject/markdown-transform/releases), because there may be an update that could possibly affect how you approach this. Not sure if it actually will, just keep an eye out. We should be finished with that either tomorrow or early Monday (October 6/7).

[2019-10-05 23:34] ahmedkrmn commented on #100
@irmerk Can I use an `npm` React component or a JavaScript package, or should the new code be entirely written from scratch in JavaScript/CSS ?

[2019-10-05 23:35] irmerk commented on #100
I'd hesitate to implement new libraries, especially if it's for this one component. We are utilizing `styled-components` and `CSS Grid` so far, though.

[2019-10-06 03:46] monika opened #109 "ID Attribute Accessibility"
# WCAG 2.0 Level A [4.1.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/ensure-compat-parses.html) (Parsing)

## Tasks
- All id attributes should only be used once.

## Related Issues:
- accordproject/template-studio-v2/issues/41
- accordproject/cicero-ui/issues/56

[2019-10-06 04:07] imbdb commented on #18
Please assign this to me.

[2019-10-07 17:14] pramodrhegde commented on #102
@irmerk Raised a PR here #113

Please review.

[2019-10-08 10:05] JamesBlandford commented on #24
i'll take this one :)

[2019-10-08 11:34] pramodrhegde commented on #21
@dselman @irmerk Raised PR here #116 Please review.

[2019-10-08 20:33] irmerk commented on #109
Thank you for all your investigating on these issues @monika. Feel like this closes the issue?

[2019-10-08 21:52] nitinsultania commented on #78
hey how about

/*
   Deluxe Menu Data File
   Created by Deluxe Tuner v3.2
   http://deluxe-menu.com
*/

// -- Deluxe Tuner Style Names
var itemStylesNames=["Style 1","Style 2","Style 3","Style 4",];
var menuStylesNames=[];
// -- End of Deluxe Tuner Style Names

//--- Common
var isHorizontal=1;
var smColumns=1;
var smOrientation=0;
var dmRTL=0;
var pressedItem=-1;
var itemCursor="default";
var ite

[2019-10-08 22:02] irmerk commented on #78
@nitinsultania I'm not sure most of that would be useful in this circumstance.

[2019-10-08 22:30] monika commented on #109
You're welcome, thanks for organizing such a great way to help via Hacktoberfest! This was my first time contributing to an open source project and it was very enjoyable and educational.

As far as the audit via [axe](https://www.deque.com/axe/) is showing me, there are no duplicated `id` attributes that it can see. I think this specific issue is closed, yeah!

It might be worth adding a linter or

[2019-10-08 22:30] #109 closed

[2019-10-09 08:10] codingdefined commented on #2
@irmerk I would like to work on it. Does the tests should be only on the JSON <-> MD conversion? What all scenarios should we consider for the testing, like all the buttons in the toolbar?

[2019-10-09 13:19] irmerk commented on #109
We have kicked the idea around before of doing a third party audit in the future. Definitely a topic for the weekly technology working group calls.

[2019-10-09 13:46] irmerk commented on #2
@codingdefined this would be great to pick up! Just keep aware of the changes we're making in PRs #114 and #117 over the next few days.

We're using the [`markdown-transform`](https://github.com/accordproject/markdown-transform) now, so the conversions are described more in that README. I think the more tests the better, essentially. Testing buttons, testing copy-pasting, testing adding a clause t

[2019-10-14 01:18] johnnyqbui commented on #23
is this one still open? I'd like to take this.

[2019-10-14 09:13] irmerk commented on #23
@dselman I believe this issue may be out of date? It sounds like it relates to #79 a bit.

[2019-10-14 13:03] Innovator007 commented on #24
Can you describe more about this issue @dselman.

[2019-10-14 15:46] irmerk commented on #24
I think this is about having a button in the formatting toolbar to insert a horizontal rule into the markdown (`---`).

[2019-10-16 20:07] irmerk opened #122 "Toolbar Buttons Work in lockText Mode"
**Describe the bug**
Text formatting is currently being allowed during `lockText`

**To Reproduce**
Steps to reproduce the behavior:
1. Run locally within `cicero-ui`
  a. Download both `markdown-editor` and `cicero-ui`
  b. Run in `markdown-editor`
    - `npm install`
    - `npm run build`
    - `npm run transpile`
    - `npm link`
  c. Run in `cicero-ui`:
    - `npm install`
    - `rm -rf node_m

[2019-10-16 20:07] irmerk opened #123 "First Keypress in lockText Mode Executes"
**Describe the bug**
Text formatting is currently being allowed during `lockText`

**To Reproduce**
Steps to reproduce the behavior:
1. Run locally within `cicero-ui`
  a. Download both `markdown-editor` and `cicero-ui`
  b. Run in `markdown-editor`
    - `npm install`
    - `npm run build`
    - `npm run transpile`
    - `npm link`
  c. Run in `cicero-ui`:
    - `npm install`
    - `rm -rf node_m

[2019-10-16 20:46] irmerk opened #124 "Polish Editor Border and Shadow"
**Is your feature request related to a problem? Please describe.**
The editor should have some styling to appear more professional

**Describe the solution you'd like**
We should have smaller borders, no border radius, and a slight drop shadow.

**Describe alternatives you've considered**
A reference point is Google Docs

Current state:
<img width="798" alt="Screen Shot 2019-10-16 at 4 10 09 PM" s

[2019-10-16 20:47] Michael-Grover commented on #124
is this markdown editor meant to be used on its own or only as a component in other things like Template Studio?

[2019-10-16 20:52] mttrbrts commented on #124
Is it in scope in this issue to tackle other UI polish issues like:
- font normalization between contract and clause text
- indentation of blockquotes
- background colors for parameters in lock-mode
- background color for smart clauses

[2019-10-16 20:59] PseudoNerd commented on #124
Can I take this up ?

[2019-10-16 21:01] Michael-Grover commented on #124
@irmerk this won't affect how the component looks in Template Studio V2 right?

[2019-10-16 21:04] irmerk commented on #124
These can be added as optional props, similar to all the other styling props, to add flexibility to whoever uses the component.

[2019-10-16 21:05] irmerk commented on #124
I believe these will be two separate issues:
1.

2.

[2019-10-16 21:08] rishabhx64 commented on #123
Can I take this up?

[2019-10-16 21:23] irmerk opened #125 "Polish Indentation of Block Quotes"
**Is your feature request related to a problem? Please describe.**
Block quotes should have customizable indentation.

**Describe the solution you'd like**
Allow for props to dictate the indentation of the block quotes.

**Describe alternatives you've considered**
Open to input.

**Additional context**
More input by @mttrbrts, referenced in #124

[2019-10-16 21:24] irmerk opened #126 "Variable Background Colors"
**Is your feature request related to a problem? Please describe.**
Variables should have customizable background colors, as well as only having colors in `lockText` mode.

**Describe the solution you'd like**
Allow for props to dictate the color of the variables, and only display this when `lockText` is true.

**Describe alternatives you've considered**
Open to input.

**Additional context**
Refer

[2019-10-16 21:27] irmerk opened #127 "Double Enter Does Not Leave List"
**Describe the bug**
When writing in a numbered or bulleted list, pressing Enter twice does not escape the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the Netlify deployed demo](https://accordproject-markdown-editor.netlify.com/examples/)
2. Click on `three` or `peaches` in the lists
3. Press Enter twice
4. See two bullets/numbers instead of escaping to a new paragraph line.

[2019-10-16 21:52] gsilvamartin commented on #126
Please assign this to me.

[2019-10-16 22:30] PseudoNerd commented on #124
![Screenshot from 2019-10-17 03-56-47](https://user-images.githubusercontent.com/26699089/66963911-922fac00-f092-11e9-9deb-6c5e96093f82.png)

Something like this?

[2019-10-17 02:13] Sayan-dev commented on #127
i would like to work on it

[2019-10-17 12:41] irmerk commented on #124
Yes, and the same for the border I would think.

[2019-10-17 12:44] mbtamuli commented on #125
I'd like to work on this issue. Thanks

[2019-10-17 14:23] irmerk commented on #18
Moving this back to open after 11 days.

[2019-10-17 14:24] irmerk commented on #98
@ahmedkrmn what is the status of this? I'm opening it back up for the time being.

[2019-10-17 14:26] irmerk commented on #102
This issue is closed and continues in #125

[2019-10-17 14:26] #102 closed

[2019-10-17 15:05] irmerk commented on #23
I think go for it @johnnyqbui if you still want to. It seems like this does in fact relate to #79 and this comment I made here https://github.com/accordproject/markdown-editor/pull/112#issuecomment-542854144

[2019-10-17 15:26] Sayan-dev commented on #127
can you specify the file where eventlistener function is working for taking keyboard inputs

[2019-10-17 15:28] irmerk commented on #127
I believe it is `SlateAsInputEditor`, maybe start looking [here](https://github.com/accordproject/markdown-editor/blob/master/src/SlateAsInputEditor/index.js#L340)

[2019-10-17 16:15] Ian-Yy commented on #122
Hi @irmerk , Can I try working on this issue? I'm still quite beginner. So, sorry if I made mistake 🙏

[2019-10-17 17:50] irmerk opened #129 "Display Selected Text Style"
**Is your feature request related to a problem? Please describe.**
The `Style` section of the toolbar should show what the selected text style is.

**Describe the solution you'd like**
The `Style` section of the toolbar should show what the selected header is **_if_** it is a heading, otherwise remain as `Normal Text`

This will require adapting the spacing of the toolbar to accommodate `Normal Te

[2019-10-17 17:50] irmerk commented on #129
@michael-grover do you have any input on if this should even be a feature, and if it should have `Heading 1` or `H1`?

[2019-10-17 17:52] Michael-Grover commented on #129
I'll look quickly at what other editors do but I think you're right @irmerk

[2019-10-17 18:01] irmerk opened #130 "Disallow H1 -> H3 -> H2"
**Is your feature request related to a problem? Please describe.**
We should have a restriction for creating out of order heading trees

**Describe the solution you'd like**
There should be some check on attempt to create a header which finds the nearest header above and below. If one of these results in nothing, allow. If they both exist, measure if they violate order.

This will likely involve c

[2019-10-17 18:38] Michael-Grover commented on #129
![image](https://user-images.githubusercontent.com/40569793/67037586-cbe0d100-f0eb-11e9-8b0e-7463cf48f834.png)

fixed width, left aligned, "normal" by default, "style" in tooltip

[2019-10-17 20:12] irmerk opened #132 "Copy + Paste Works in lockText Mode"
**Describe the bug**
Copy and pasting inside a clause template is currently being allowed during `lockText`

**To Reproduce**
Steps to reproduce the behavior:
1. Run locally within `cicero-ui`
  a. Download both `markdown-editor` and `cicero-ui`
  b. Run in `markdown-editor`
    - `npm install`
    - `npm run build`
    - `npm run transpile`
    - `npm link`
  c. Run in `cicero-ui`:
    - `npm ins

[2019-10-17 20:12] irmerk opened #133 "No Space After Clause Template"
**Describe the bug**
Cannot select a text area after a clause if it is the last part of the contract

**To Reproduce**
Steps to reproduce the behavior:
1. Run locally within `cicero-ui`
  a. Download both `markdown-editor` and `cicero-ui`
  b. Run in `markdown-editor`
    - `npm install`
    - `npm run build`
    - `npm run transpile`
    - `npm link`
  c. Run in `cicero-ui`:
    - `npm install`

[2019-10-18 01:28] michaelclark2 commented on #132
I'd like to take a crack at this

[2019-10-18 05:23] codingdefined commented on #2
@irmerk Created the pull request for the same.

[2019-10-18 13:58] irmerk commented on #2
As mentioned in #134, this issue can provide for many PRs, so I will open this up.

[2019-10-18 14:12] irmerk commented on #100
This is open again. Any other contributor should view #108 as a starting point or for some context.

[2019-10-18 17:44] archhhh opened #135 "Data-key is not set in heading tags"
**Describe the bug**
In heading node passed data-key is not set in heading tags, leading to scrolling bugs in template-studio-v2

**Expected behavior**
Heading tags should have attribute data-key='key', similar to clauses

Related to [@accordproject/template-studio-v2 issue #113](https://github.com/accordproject/template-studio-v2/issues/113)

[2019-10-19 15:04] waahhhh commented on #24
On it!

[2019-10-19 15:50] irmerk commented on #21
The video plugin was removed.

[2019-10-19 15:50] #21 closed

[2019-10-19 15:51] irmerk commented on #135
Closed with #136

[2019-10-19 15:51] #135 closed

[2019-10-20 04:44] sahalsaad commented on #100
Hi! I'll work on this issue. Thanks

[2019-10-20 12:57] pramodrhegde commented on #123
@irmerk Please assign this to me.

[2019-10-20 16:52] waahhhh commented on #24
I have created a draft because I am unsure whether removing the horizontal line (backspace) in the method "handleBackspace" does not work or there is a bug in Slate.

[2019-10-22 14:21] irmerk commented on #126
Opening this back up after 6 days stale. @gsilvamartin let me know if you're still working on it and I'll reassign.

[2019-10-22 14:23] irmerk commented on #125
@mbtamuli any progress on this? Opening back up for the time being.

[2019-10-22 14:24] irmerk commented on #127
@Sayan-dev any progress on this? Opening back up in the meantime.

[2019-10-22 14:25] irmerk commented on #122
@Ian-Yy any progress on this? Opening back up in the meantime.

[2019-10-22 14:27] irmerk commented on #132
@michaelclark2 any progress on this? Opening back up in the meantime.

[2019-10-22 14:35] Ian-Yy commented on #122
@irmerk I'm still trying to figure out the link between cicero-ui and markdown-editor.

[2019-10-22 14:38] irmerk commented on #122
Do you mean `npm link` for development? Or just the connection between the two?

[2019-10-22 14:56] Ian-Yy commented on #122
Just the connection between the two. I can see when I toggle LockText, the state is changing true and false but thinking how the state is connected to markdown-editor

[2019-10-22 15:19] irmerk opened #143 "Inline Hyperlink Tooltip"
**Is your feature request related to a problem? Please describe.**
The hyperlink tooltip should stem from the highlighted text inline which is being selected to convert into a hyperlink.

**Describe the solution you'd like**
Would it be possible for this UI to be placed above or below the text, so that it is easier for the user to tell which text is becoming a Hyperlink?

**Describe alternatives y

[2019-10-22 15:19] #100 closed

[2019-10-22 15:24] Ian-Yy commented on #122
@irmerk And another thing to confirm. Do I need to keep running `npm link` everytime I change something in markdown-editor?

[2019-10-22 15:28] irmerk commented on #122
@Ian-Yy once `markdown-editor` is linked, you'll just need to run `npm run transpile` in it to refresh the compiled build.

I think the `lockText` value is passed to `markdown-editor` (`ContractEditor`), so that should be how they are connected.

[2019-10-22 16:22] Ian-Yy commented on #122
@irmerk Thank you! This is what I'm looking for. Now I can continue debugging.

[2019-10-22 20:45] mbtamuli commented on #125
Hey @irmerk thanks for giving me the chance fix this.

I've added what I think is the requested changes as per the issue. https://github.com/accordproject/markdown-editor/pull/144

Should I also modify the example

https://github.com/accordproject/markdown-editor/blob/bf9324fb20dc2f680a2d68b643ce6856eada8473/examples/src/index.js#L50-L52

[code]

[2019-10-22 20:58] mbtamuli commented on #126
@gsilvamartin are you still working on this?

@irmerk Can I take a shot at this?

[2019-10-22 22:37] michaelclark2 commented on #132
I'm close, I need to possibly make pull requests to both repos

[2019-10-23 15:19] PseudoNerd commented on #124
I had a medical emergency, May I take this up again ?

[2019-10-23 15:30] irmerk opened #147 "Slate Error of Duplicate `data-key`"
**Describe the bug**
Cannot select a text area after a clause if it is the last part of the contract

**To Reproduce**
Steps to reproduce the behavior:
1. Open the [Netlify demo of TSv2](https://accordproject-studio.netlify.com)
2. Open the developer console
3. Create enough paragraphs and headers until an error occurs
[code]
4. The key will be a random number

**Expected behavior**
We should not

[2019-10-23 16:56] Ian-Yy commented on #122
@irmerk I managed to make the text not bold and italicize when it's lockText, but I can still see the parseClause giving markdown text with bold and italicize symbol in it.

For example, when I bold the `Acceptance`, it's not bold on screen but when I check the console, I can see it's `**Acceptance**` there.

So, I'm currently checking slateTransformer in Cicero UI. Please advise if I'm in the rig

[2019-10-23 17:02] dselman commented on #122
I think we need to make the toolbar aware of lockText and conditionally wrap some of these commands. E.g. here:
https://github.com/accordproject/markdown-editor/blob/master/src/FormattingToolbar/index.js#L115

[2019-10-23 17:08] Ian-Yy commented on #122
Ohh.. So, we should be checking for lockText in the onclick function calling toggleMark? Correct me if I'm wrong.

[2019-10-23 17:38] irmerk commented on #122
That sounds right to me.

[2019-10-23 18:17] michaelclark2 commented on #132
I've narrowed down the issue to the way you are adding the props.lockText as an annotation.  It gets unset somehow before it gets read in the isEditorLockText and I'm having trouble figuring out how to control that flow.  But figuring this out should prevent any changes to a clause while lockText === true

[2019-10-23 18:20] michaelclark2 commented on #132
I've got it to where it will prevent any changes, but only after adding a single character.  I added a preventDefault in the onKeyDown, and the character doesn't get added when I'm using a breakpoint, so maybe there's some asynchronicity going on somewhere?

[2019-10-23 18:29] irmerk commented on #132
@michaelclark2 I think I know what you're referring to, #123. Is that what you're seeing? If so, yeah unsure what is causing that behavior at the moment.

I keep thinking there is a delay in setting the annotation and thus the first character is allowed, but skeptical of this theory.

[2019-10-23 18:42] mbtamuli commented on #126
@irmerk I am a little confused by this issue.

1. So here, does `Variables` mean the variables in the template as described here https://docs.accordproject.org/docs/spec-template.html#grammar?

2. I can see example of variable usage here - https://studio.accordproject.org/. How can I run this locally?

[2019-10-23 18:56] irmerk commented on #126
The yellow highlighted portions in `cicero-ui` locally here:
<img width="939" alt="Screen Shot 2019-10-23 at 14 49 32 PM" src="https://user-images.githubusercontent.com/36460856/67424591-6b96d700-f5a4-11e9-9af2-ccdd880808eb.png">

These are generated from the [`markdown-transform`](https://github.com/accordproject/markdown-transform/), some parts to refer to:
- [`slateToCiceroMarkDom`](https://git

[2019-10-23 19:11] irmerk commented on #147
This seems to be coming from `cicero-ui`, because running it locally results in the error. However, `markdown-editor` locally running does not have the error (so far).

[2019-10-24 13:45] #127 closed

[2019-10-24 14:15] #101 closed

[2019-10-24 16:29] Ian-Yy opened #151 "Typo in the DEVELOPERS.md"
**Issues**

As I'm going through the DEVELOPERS.md earlier, I found out there's a typo on the upstream link in the section **Building Markdown-Editor**.

[2019-10-24 16:48] archhhh opened #154 "Setting cursor when clicking on content area which does not have content"
**Is your feature request related to a problem? Please describe.**

Currently when you try to click on the content area which doesn't have any content, cursor disappears, or if you are out of focus and again try to click on the area, cursor does not appear.

**Describe the solution you'd like**

Setting cursor after the last character available, like it is in editors like Visual Studio Code or Mic

[2019-10-24 17:19] #75 closed

[2019-10-24 18:20] #151 closed

[2019-10-24 19:05] husseyexplores commented on #143
I will look into this and hopefully will open a PR regarding this shortly. I've researched the crux of the problem i.e getting the selected text position, will try to implement and see where things go.

[2019-10-24 19:50] #23 closed

[2019-10-24 21:34] jeromesimeon commented on #122
@irmerk is this resolved thanks to the latest PR?

[2019-10-24 21:36] jeromesimeon commented on #125
@irmerk is this resolved with the latest PR?

[2019-10-24 23:03] #122 closed

[2019-10-24 23:03] #125 closed

[2019-10-25 17:54] DianaLease opened #156 "Creating lists via toolbar throws error"
**Describe the bug**
Creating lists via toolbar throws error

**To Reproduce**
Steps to reproduce the behavior:
1. Highlight text
2. Click on ordered or unordered list icon
3. Open JS console
4. See error

**Expected behavior**
Should create list and not throw error.

**Screenshots**
![Screen Shot 2019-10-25 at 1 54 00 PM](https://user-images.githubusercontent.com/20543103/67592924-ef7cca80-f72e-1

[2019-10-25 21:13] DianaLease commented on #156
When running locally, looks like the error is coming from concerto-core, which seems odd... @jeromesimeon
![Screen Shot 2019-10-25 at 5 12 15 PM](https://user-images.githubusercontent.com/20543103/67604826-ac305500-f74a-11e9-9748-1fe3c00d46cf.png)

[2019-10-25 21:21] DianaLease commented on #156
Looks like it it happening when it runs the validation on lists [here](https://github.com/accordproject/concerto/blob/master/packages/concerto-core/lib/serializer/resourcevalidator.js). I'm confused as to what this validation should be applied to though since when we get this error, we are not in a concerto model. Let's sync up on this next week @jeromesimeon as I'm sure you understand this much b

[2019-10-26 11:10] husseyexplores commented on #154
I would like to work on this as well. I've done the research on two possible fixes. (Feeling a bit excited as this is my first Hacktober fest which I'm really enjoying!! 🤓)

One possible fix is through just styling and adjusting the css. Making sure that the editor is 100% of the editor wrapper element.
The other is to listen for clicks and see if the target element is the wrapper element. If so,

[2019-10-26 15:05] irmerk commented on #154
@husseyexplores Hmm, interesting. I could see either of those working, but the CSS will be more straightforward if it works - not having to make listeners. So maybe start with that route and hope there aren't quirks.

[2019-10-26 19:06] qualitymanifest opened #162 "Unintentional scroll when editor receives focus"
See related https://github.com/accordproject/template-studio-v2/issues/78 for my past notes on this issue. Cicero-ui also has this issue and all of them can be fixed by a PR I will be sending over shortly

**To reproduce:**
- Open an editor and enter enough lines to cause some scrollbar
- Scroll down
- Click outside the editor, then click back into it, near the bottom of the editor

**The results:

[2019-10-27 04:06] sahalsaad opened #164 "Fix undo and redo aria-label"
Currently both undo & redo aria-label shown as `bold`.
It should be `redo` & `undo`

[2019-10-27 17:19] michaelclark2 commented on #132
@irmerk yep, that's it.  I'll try to focus more on the copy paste side of this issue, but #123 should fix all the lockText issues (maybe)

[2019-10-27 17:35] joeheyming commented on #164
I can take this

[2019-10-27 18:20] joeheyming commented on #164
https://github.com/accordproject/markdown-editor/pull/166

[2019-10-27 18:21] joeheyming commented on #164
If you create a separate git issue for eslint, I can try to update it.  It seems not to work for me.

[2019-10-28 11:06] husseyexplores commented on #130
I'd like to give this a shot as well!

There are quite a number of cases here, right? Like:
-  No above or below heading
 -- Allow every heading
- No heading below but exist above
  -- Then we need to make sure the entered heading is <= above
-No heading above but may exist below
  -- Then we need to make sure the entered heading is >= below
- Headings above and below which are different
 -- Then

[2019-10-28 13:23] irmerk commented on #130
Yeah this is pretty confusing in my head... @michael-grover any input?

At first I thought this sounded right, but an H3 could have an H1 below it, but not an H2 below it _unless_ it stems from a common H1?

Actually, while thinking up what edge cases there could be for all of these... Maybe it's the wrong approach to dictate which headers can be inserted. Maybe it's more about how we display them

[2019-10-28 13:28] peterhunn commented on #130
My two cents are that we shouldn't restrict the order in which headers that can be added, at least in the first instance. There could, in future, be the concept of a `section` that we may want to enforce some of these constraints in.

[2019-10-28 13:55] #164 closed

[2019-10-28 14:20] Michael-Grover commented on #130
I agree with @peterhunn that header order shouldn't be restricted. Microsoft Word and Google Docs don't restrict this. If we had a section, subsection, subsubsection feature like Peter mentioned, then that should have an enforced order.

[2019-10-28 14:23] irmerk commented on #130
Alright, closing this for now.

[2019-10-28 14:23] #130 closed

[2019-10-28 19:39] irmerk commented on #123
@pramodrhegde any progress on this?

[2019-10-28 19:41] irmerk commented on #126
@mbtamuli any progress on this?

[2019-10-28 21:10] Michael-Grover opened #169 "cmd+z does not undo changese to text style"
undoing an action by clicking cmd+z on Mac or ctrl+z on Windows does not undo changes to paragraph styles. The user can only undo changes to paragraph styles by clicking the "back" button.

![image](https://user-images.githubusercontent.com/40569793/67718178-95d20580-f9a5-11e9-9f12-7f9b2fb81fe7.png)

[2019-10-28 21:14] Michael-Grover opened #170 "Pasting text from other text editors does not work as expected"
**Describe the bug**
Pasting text from other text editors does not work as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Paste a document from a document editor like Pages on Mac into the markdown editor
2. Attempt to change the style of only one paragraph

https://www.loom.com/share/01bff2319e994c128be19c49976d7e83

[2019-10-29 00:29] mbtamuli commented on #126
I wasn't able to work on this. You can unassign me for now.

[2019-10-29 17:43] dkbuntzen commented on #129
@irmerk @Michael-Grover
I am busy looking into this and was wondering if you one of you might be able to point me in the right direction here. Is there an established way that the editor or toolbar would understand what is currently selected.

I don't want to over complicate this, and add methods if there is already some idea of this.

[2019-10-29 18:50] irmerk commented on #129
Sure thing @dkbuntzen.

Granted a lot of this could use some refactoring, but I would start with what we're doing with marks [here](https://github.com/accordproject/markdown-editor/blob/master/src/FormattingToolbar/index.js#L199-L207) and how we set blocks to headers [here](https://github.com/accordproject/markdown-editor/blob/master/src/FormattingToolbar/index.js#L413-L428), maybe do something si

[2019-10-29 19:15] pramodrhegde commented on #123
@irmerk Yes, I have started working on it. will raise a PR once I am ready with the fix.

[2019-10-30 09:38] dkbuntzen commented on #129
@irmerk Thanks so much for the help, it really does assist.

[2019-10-30 13:54] pramodrhegde commented on #123
@irmerk Please review.

[2019-10-30 14:49] #154 closed

[2019-10-30 21:56] #156 closed

[2019-10-31 06:32] V1shvesh opened #175 "Contract Editor Scrollbar is Obtrusive"
**To Reproduce**
Steps to reproduce the behavior:
1. Run locally with cicero-ui linked through npm link
2. Add enough line breaks to show the scroll bar, add twice as many more
3. Scroll to the bottom and notice the scrollbar background cutting into the toolbar

**Expected behavior**
The scrollbar should either have no background or begin below the toolbar

**Screenshots**
![](https://user-images.

[2019-10-31 13:22] #162 closed

[2019-10-31 13:33] #143 closed

[2019-10-31 18:34] irmerk commented on #175
![Image from iOS](https://user-images.githubusercontent.com/36460856/67975376-53e5d100-fbea-11e9-85ae-c068c9a7e9bc.jpg)

Orange ([SlateAsInputEditor][slate]):
- `markdown-editor`

Blue ([FormattingToolbar][format]):
- `markdown-editor`

Purple ([ContractEditor][cicero]):
- `cicero-ui`

Pink ([ContractEditorWrapper][tsv2]):
- `template-studio-v2`

**2** and **3** cross over the `FormattingToolbar`,

[2019-11-06 14:55] dselman opened #199 "Cannot edit a link"
**Describe the bug**
Once inserted a link cannot be edited, as pressing the link toolbar button removes the link.

**To Reproduce**
1. Press the link button to insert a link
2. Press the link button again, to edit the link
3. Note that the link has been removed

**Expected behavior**
Pressing the link button when a link has already been inserted should allow the user to edit the link. It would als

[2019-11-06 15:03] dselman opened #280 "Hitting enter after a heading inserts blank line"
**Describe the bug**
Hitting enter after a heading inserts blank line

**To Reproduce**
Steps to reproduce the behavior:
1. Position cursor at end of "Heading One" in the editor
2. Hit enter
3. Note that an extra blank line has been inserted

**Expected behavior**
Enter after headings should not insert an extra blank line.

[2019-11-06 15:04] dselman opened #244 "Support keyboard shortcuts"
Add keyboard shortcuts for common formatting commands, like bold, italics etc.

[2019-11-06 20:10] irmerk commented on #79
Start at the work done in #112

[2019-11-08 02:22] dselman opened #182 "Add toolbar button for images"
The underlying editor supports rendering images, but we don't yet have a mechanism to add images via the toolbar.

[2019-11-08 02:23] dselman commented on #18
Resolved by https://github.com/accordproject/markdown-editor/commit/2ebe560da4a28a33a09a476df8bc1ea3c7fd5063

[2019-11-08 02:23] #18 closed

[2019-11-08 15:10] dselman opened #184 "Cannot toggle formatting"
Formatting can be applied using the toolbar, but cannot be toggled.

**To Reproduce**
1. Select some plain text
2. Press the bold or italic toolbar button
3. Note that the formatting changes
4. Press the button again
5. Note that the formatting remains the same (NOK)

**Expected behavior**
Toolbar buttons should toggle formatting.

[2019-11-08 15:23] irmerk commented on #147
Finished with #181

[2019-11-08 15:23] #147 closed

[2019-11-08 19:34] #184 closed

[2019-11-08 20:27] irmerk opened #187 "Soft Break Error after Hyphen"
**Describe the bug**
Parse error which may result from soft breaks after a hyphen?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [TSv2 Netlify](https://accordproject-studio.netlify.com/)
2. Add `Volumediscountulist` to the contract
3. Click inside the clause
4. See error

**Screenshots**
<img width="1676" alt="Screen Shot 2019-11-08 at 15 00 12 PM" src="https://user-images.github

[2019-11-11 21:00] irmerk commented on #2
Please note the conversation in [`markdown-transform` #117](https://github.com/accordproject/markdown-transform/issues/117) for testing this repo.

[2019-11-12 15:36] irmerk commented on #187
The [updates to `markdown-transform`][transUpdate] to handle the `softbreak` in a list are not working in [the PR for the schema][schemaPR], only [adding the `softbreak` to nodes match of `list_item`s][PRL] works still. Without this, paragraphs _should_ be enclosing `softbreaks`/`inlines`/`linebreaks` in `list_item`s, but I think something additional may be needed in the `markdown-transform` to ac

[2019-11-12 15:47] jeromesimeon commented on #187
It's a little hard to make the connection, but AFAICT the Slate DOM out of the `markdown-slate` package looks fine, with a proper enclosing paragraph:
[code]

[2019-11-12 15:54] jeromesimeon commented on #187
Also, transforming this back to Markdown seems to create the proper soft break:
[code]

[2019-11-12 16:10] irmerk commented on #187
Just an error with not using the correct version in `markdown-editor`, `cicero-ui`, _and_ `template-studio-v2`, resolved in #188

[2019-11-12 16:10] #187 closed

[2019-11-12 21:50] irmerk opened #189 "Handle Empty Backtick Codeblocks"
**Is your feature request related to a problem? Please describe.**
Trailing backticks are left in the markdown even if they do not have any content between them.

**Describe the solution you'd like**
Empty backticks should be removed during the transform.

**Slate Value in the `ContractEditor`**
<img width="331" alt="Screen Shot 2019-11-12 at 16 40 53 PM" src="https://user-images.githubusercontent

[2019-11-12 22:10] irmerk commented on #189
This will be solved in the short term by exiting `codespan` when pressing enter.

[2019-11-12 22:17] dselman commented on #189
We may need to support multi line code blocks using three back ticks.

[2019-11-12 22:18] irmerk commented on #189
Correct, though that will probably be a different issue. And at the moment it's unclear to me if contracts will have much need for them.

Either way I plan on creating a separate issue to track that.

[2019-11-12 22:39] dselman commented on #189
Sounds good. This editor is not just for contracts...

[2019-11-12 23:53] jeromesimeon opened #190 "Markdown support: Code blocks"
**Is your feature request related to a problem? Please describe.**
Code blocks are a useful markdown feature. It would be nice if the editor supports them.

**Describe the solution you'd like**
The ability to create/edit/delete code blocks.

Maybe the ability to turn into a selection into a code block would be nice as well/

[2019-11-12 23:53] jeromesimeon commented on #189
https://github.com/accordproject/markdown-editor/issues/190

[2019-11-12 23:55] jeromesimeon opened #191 "Markdown support: Nested lists"
**Is your feature request related to a problem? Please describe.**
Markdown documents often include lists, and sometimes nested lists.

It would be nice if the editor allowed creating/editing/deleting nested lists.

**Describe the solution you'd like**
The ability to create and edit a nested lists.

It would be nice to have a convenient way to switch between nesting levels.

**Describe alternative

[2019-11-13 19:59] irmerk opened #192 "Slate Losing Lists"
**Describe the bug**
There seems to be an error with the schema for SlateJS and lists are lost when coming from markdown to slate in the `markdown-transform`

**To Reproduce**
Roundtrip Slate DOM to markdown back to Slate DOM

**Expected behavior**
There should be rendering of list items correctly, not as paragraphs?

**Screenshots**
<img width="615" alt="Screen Shot 2019-11-13 at 14 53 30 PM" src

[2019-11-14 16:09] #189 closed

[2019-11-14 22:26] irmerk commented on #192
In the demo you can see that the list already created and there in the demo renders with a paragraph tag, but a new list created by the user has list items which are _not_ paragraph tags:

---

**Default list**:
<img width="1079" alt="Screen Shot 2019-11-14 at 17 23 38 PM" src="https://user-images.githubusercontent.com/36460856/68901355-c7680200-0703-11ea-9356-7c4fbe4d372f.png">

---

**User made

[2019-11-15 03:12] jeromesimeon commented on #192
This looks like a regression introduced when we switched to markdown-transform 0.8.0.

[2019-11-15 18:17] irmerk commented on #192
Right, this seems to have to do with needing to update the way we handle lists in this component now. Because it used to be
[code]
But now is
[code]

[2019-11-15 18:32] jeromesimeon commented on #192
makes sense! The relationship between the schema and how we modify the DOM is also pretty sensitive. I'm wondering if there is a good way to document both so they remain in sync.

[2019-11-18 19:18] irmerk opened #195 "Support Nested Lists"
**Is your feature request related to a problem? Please describe.**
The editor should support nested lists with a keyboard handle for `SHIFT + ENTER` and toolbar buttons for indent and outdent

**Describe the solution you'd like**
Design from @Michael-Grover, this should wrap a list in a further list if it is a descendent of a list

**Describe alternatives you've considered**
Further work can be do

[2019-11-18 20:11] #192 closed

[2019-11-18 20:24] irmerk commented on #132
@michaelclark2 any progress on the copy/paste side of things?

[2019-11-18 20:24] irmerk commented on #123
@pramodrhegde checking in on if there is any progress

[2019-11-18 20:30] irmerk commented on #175
@V1shvesh any progress on this?

[2019-11-19 15:58] DianaLease opened #196 "Prevent "cut" functionality when within text that should not be editable"
**Describe the bug**
A user can "cut" (cmd+x) text that should not be editable.

[2019-11-19 16:45] dselman opened #198 "HTML Paste is broken"
**Describe the bug**
Copying HTML from another webpage and pasting it into the markdown editor should work.

**To Reproduce**
1. Go to any webpage
2. Select some text and copy to the clipboard
3. Open the markdown editor and press paste
4. Nothing is inserted into the editor

**Expected behavior**
COPY/PASTE of html text should work.

[2019-11-19 17:49] #196 closed

[2019-11-19 21:04] #88 closed

[2019-11-20 21:29] DianaLease commented on #132
I think this is exactly the same issue I fixed for disallowing "cut" within non-editable text, but for disallowing "paste" instead. So I can quickly take this one if it's open now.

[2019-11-20 22:13] #132 closed

[2019-11-22 21:42] #199 closed

[2019-11-25 14:51] #123 closed

[2019-12-10 13:44] dselman opened #207 "PASTE: handle lists"
Input (https://www.bbc.co.uk/news/business-50723392):

SoftBank declined to comment on the reports. Wag did not immediately reply to a request for comment from the BBC.
- What you need to know about Softbank's IPO
- WeWork investor: My judgment was not right
- WeWork seals multi-billion-dollar rescue deal

Error:
[Error] ValidationException: Instance undefined missing required field tight
	reportM

[2019-12-10 13:50] dselman opened #208 "PASTE: handle images"
Input (https://www.bbc.co.uk/news/business-50723392):

**Select the image and the para just below it**
Wag! App Walk Report CardImage copyrightWAG INC.
Technology giant SoftBank has reportedly agreed to sell its stake in dog-walking app Wag.

Error:
[Error] TypeError: firstChild.hasBlockChildren is not a function. (In 'firstChild.hasBlockChildren()', 'firstChild.hasBlockChildren' is undefined)
	re

[2019-12-10 13:52] dselman opened #209 "PASTE: handle single paragraphs [WAS: handle links]"
Input (https://www.bbc.co.uk/news/business-50723392):

In November SoftBank's chief executive, Masayoshi Son, admitted that his judgement had been poor in relation to the investment in the office space start-up.

Error:

[Error] TypeError: firstChild.hasBlockChildren is not a function. (In 'firstChild.hasBlockChildren()', 'firstChild.hasBlockChildren' is undefined)
	rethrowCaughtError (react-dom.d

[2019-12-10 14:07] dselman opened #210 "PASTE: handle input from a foreign Slate editor"
Input (https://www.slatejs.org/examples/richtext):

This is editable rich text, much better than a <textarea>!Since it's rich text, you can do things like turn a selection of text bold, or add a semantically rendered block quote in the middle of the page, like this:A wise quote.Try it out for yourself!My HeadingThis is text. This is italic text. This is bold text. This is a link. This is inline co

[2019-12-10 14:12] dselman commented on #208
Maybe a duplicate of #209

[2019-12-11 15:39] irmerk commented on #198
@DianaLease is this closed with #211 and [`markdown-transform` #138](https://github.com/accordproject/markdown-transform/pull/138)?

[2019-12-11 15:48] jeromesimeon commented on #207
I think this one was fixed in: https://github.com/accordproject/markdown-transform/pull/141/files

Here is a snapshot from the BBC:

<img width="765" alt="Screenshot 2019-12-11 at 10 45 24 AM" src="https://user-images.githubusercontent.com/670099/70636533-b4adf380-1c03-11ea-8f85-8146f79a6c52.png">

[2019-12-11 17:13] jeromesimeon commented on #209
This one seems to be more about the onPaste/Slate DOM internally than about the markdown transform. I see a proper CiceroMark (AFAICT) inside the onPate:
[code]

[2019-12-11 17:17] jeromesimeon commented on #209
More info on this. This failure occurs when trying to Copy/Paste a _single paragraph_ but it works if you cut and paste two paragraphs.

<img width="768" alt="Screenshot 2019-12-11 at 12 16 25 PM" src="https://user-images.githubusercontent.com/670099/70644001-14aa9700-1c10-11ea-8754-9d74727c2f50.png">

[2019-12-11 17:33] jeromesimeon commented on #209
This specific error occurs when pasting single paragraphs, rather than blocks of them.

From the same BBC article, just using another paragraph without link does the trick.

The error seems to be coming from a `text` node in the Slate DOM without a `paragraph` block around it.

Here is a sample trace from within the `onPaste` calls:

[code]

Should this be considered a `markdown-editor` bug (i.e.,

[2019-12-11 18:57] jeromesimeon commented on #198
@irmerk I wouldn't mind keeping this open just for a little longer, notably because I do not believe we have very clear requirements for this yet. I think with #211 and #138 we have moved from the behaviour description in the issue to something more like:

- Go to _some_ webpage
- Select some text and copy to the clipboard
- Open the markdown editor and press paste
- _Sometimes something_ is inser

[2019-12-18 22:13] jeromesimeon opened #213 "Ability to open links"
**Is your feature request related to a problem? Please describe.**
I think it would be nice to be able to open links from the editor.
As far as I can tell right now there is only a way to edit a link, not to open it.

<img width="333" alt="Screenshot 2019-12-18 at 5 04 55 PM" src="https://user-images.githubusercontent.com/670099/71127758-a76fa680-21b9-11ea-96e4-ec45986b3349.png">

**Describe the s

[2019-12-19 17:14] #207 closed

[2019-12-20 14:32] irmerk opened #217 "Paragraph Deletion Before Header Removes Header"
**Describe the bug**
Triple clicking a paragraph before a header and deleting removes the header from that element

**To Reproduce**
Steps to reproduce the behavior:
1. Run `markdown-editor` locally (or within `cicero-ui`)
2. Create two paragraphs, make the second one a header
3. Triple click the paragraph and press backspace
4. The header is now a normal paragraph

**Expected behavior**
This shou

[2019-12-20 14:32] irmerk opened #218 "Escape Block Quote"
**Describe the bug**
If a block quote is all that exists, the user cannot escape with the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `markdown-editor` locally (or within `cicero-ui`)
2. Remove all text
3. Toggle block quote
4. You are now unable to escape from the block quote (save for the toolbar functionality)

**Expected behavior**
Similar logic to exiting a list. Backs

[2020-01-07 16:19] DianaLease commented on #191
closing because duplicate of https://github.com/accordproject/markdown-editor/issues/195

[2020-01-07 16:19] #191 closed

[2020-01-07 16:37] DianaLease opened #220 "Markdown support: HTML blocks"
**Is your feature request related to a problem? Please describe.**
Html blocks are a markdown feature that the editor currently does not support

**Describe the solution you'd like**
The ability to create/edit/delete html blocks.

May need to think about security risk!

[2020-01-29 21:39] Michael-Grover commented on #170
More detail: I tried pasting PDF content from Adobe Acrobat to the markdown editor and nothing was pasted. I had to paste the content into Apple Notes and then from Apple Notes to the markdown editor, which worked. @irmerk is this a separate issue?

[2020-01-30 14:07] irmerk commented on #170
Similar for sure, but I think because it's a PDF and this issue is text editors (like Word), it could be a separate issue and just link the two.

[2020-02-05 19:36] jeromesimeon opened #223 "Various issues with deletion (character per character)"
**Describe the bug**
When deleting text, things sometimes go wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the demo
2. Delete the content of an item, cannot fully delete
3. Go to the softbreak/linebreak paragraphs and delete
4. Some strange markdown results...

**Expected behavior**
Ability to delete consistently.

[2020-02-05 19:42] jeromesimeon opened #224 "Multi-line blockquotes"
**Describe the bug**
Adding lines in a block quote does not create proper markdown blockquotes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the demo
2. Add a line of text I the block quote sample
3. Notice the markdown in the left window does not handle proper block quote markup

**Expected behavior**
Consistency between the rich text editing for blockquotes and the corresponding ma

[2020-02-05 22:41] jeromesimeon commented on #223
Note that the issues for deleting inside lists seems to be browser dependent. We can delete the list item in Safari but not in Chrome.

Tried on the latest: https://accordproject-markdown-editor.netlify.com/examples/

[2020-02-06 16:40] DianaLease opened #225 "Hitting enter in a block quote is not handled as expected"
**Describe the bug**
Hitting enter in a block quote is not handled as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Add a block quote
2. Hit enter to create a new line inside of the block quote
3. Inspect slate dom
4. See that the new line was created inside of the same node

**Expected behavior**
- The slate dom created should be a softbreak node followed by a new text node insid

[2020-02-06 20:30] Michael-Grover opened #227 "Can not add text to an empty editor"
**Describe the bug**
Can not add text to an empty editor

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://accordproject-markdown-editor.netlify.com/examples/
2. press "cmd+a" in the editor to select everything
3. Press backspace to delete everything
4. Now you can't add any text to the editor.
5. Cmd+z brings the text back, but the back button does not. If you are not familiar w

[2020-02-07 11:24] dselman commented on #223
Going to take a look at this one.

[2020-02-07 18:52] irmerk opened #229 "Highlighting List of Paragraphs to Turn to List"
**Describe the bug**
Highlighting a series of paragraphs/lines and selecting list (either one) will result in a list of one with multiple lines rather than multiple units of the list.

**Screenshots**

---

<img width="169" alt="Screen Shot 2020-02-06 at 2 03 13 PM" src="https://user-images.githubusercontent.com/36460856/74056995-ffa07900-49b0-11ea-9474-8ba86b19c524.png">

---

**Additional contex

[2020-02-10 16:03] #223 closed

[2020-02-10 16:05] dselman commented on #35
The vast majority of this has been completed. I'm going to close this and we will treat any remaining work as additional standalone enhancements.

[2020-02-10 16:05] #35 closed

[2020-02-10 16:09] jeromesimeon commented on #223
To confirm: this also fixes issues with deletion inside lists but _not_ for thematic breaks.

[2020-02-10 16:10] dselman commented on #223
Ok, thanks. I'll take a look at thematic breaks next.

[2020-02-11 15:26] #218 closed

[2020-02-11 15:36] #225 closed

[2020-02-12 14:32] dselman commented on #16
This has been implemented via the VariablePlugin.

[2020-02-12 14:32] #16 closed

[2020-02-12 14:41] jeromesimeon commented on #213
For instance in Google docs:

<img width="669" alt="Screenshot 2020-02-12 at 9 35 01 AM" src="https://user-images.githubusercontent.com/670099/74344711-034e4a00-4d7b-11ea-83f2-ccba6681fbc8.png">

In order from left to right you can:
1. Click to open the link in a new tab
2. Copy the link
3. Edit the link
4. Remove the link

[2020-02-12 15:53] jeromesimeon opened #236 "Review Slate schema for consistency with MD transform, notably for BlockQuotes"
The Slate Schema in https://github.com/accordproject/markdown-editor/blob/master/src/schema.js
should be reviewed for consistency with the Slate DOM produced by the markdown-transform.

Notably `block_quote` nodes do not have a schema rule at the moment.

Sample of a block_quote Slate DOM:
[code]

[2020-02-17 15:43] jeromesimeon opened #238 "Creating code blocks unexpectedly creates (nested) code inlines"
**Describe the bug**
Creating a code block does not create a code block but different levels of code inlines.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the markdown editor
2. Select a paragraph
3. Click on 'code' button
4. It does not create a code block, but some code inlines

**Expected behavior**
Selecting a paragraph (or multiple paragraphs) and clicking code should create a

[2020-02-17 15:49] jeromesimeon commented on #238
The corresponding Slate does not include code blocks at all, just marks with `type` set to `code`.

[code]

[2020-02-17 16:00] jeromesimeon opened #239 "Clicking the 'quote' button on a single link crashes the editor"
**Describe the bug**
Creating a quote over a paragraph containing a single link crashes the editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a paragraph with some text
2. Click on the paragraph and create a 'link'
3. Click on 'quote'
4. The editor crashes

**Expected behavior**
The editor should display a quote containing the link

[2020-02-17 16:00] jeromesimeon commented on #239
The error trace from Chrome:
[code]

[2020-02-17 16:04] jeromesimeon opened #240 "Deleting everything still leaves an empty title"
**Describe the bug**
Opening the editor demo and deleting everything results in an empty title (with some unexpected markdown).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the markdown-editor demo
2. Select everything
3. Delete (with backspace)
4. It still shows a title, and the markdown is `====` which will _not_ correspond to an empty title so it's inconsistent.

**Expected behav

[2020-02-17 16:15] jeromesimeon opened #241 "Editing for nested quotes and lists"
**Is your feature request related to a problem? Please describe.**
Markdown can support nested quotes and lists. Those seem to be properly imported in the editor, but one cannot edit those or create them directly using the toolbar.

**Describe the solution you'd like**
It would be nice to be able to create a quote containing a list or a list containing a quote, or a quote containing a list contain

[2020-02-17 16:20] jeromesimeon commented on #241
Currently one can load the following markdown:

<img width="1483" alt="Screenshot 2020-02-17 at 11 17 37 AM" src="https://user-images.githubusercontent.com/670099/74670433-290e9100-5177-11ea-980c-3bef8c720e8e.png">

Clicking on the 'list' button for the paragraph does two things: remove the quote and add the list. Should it just add the list without removing the quote?

<img width="1468" alt="Scre

[2020-02-17 16:40] jeromesimeon commented on #224
This has been fixed in a recent version.

<img width="1483" alt="Screenshot 2020-02-17 at 11 39 51 AM" src="https://user-images.githubusercontent.com/670099/74671954-39743b00-517a-11ea-9438-22878a76e771.png">

[2020-02-17 16:40] #224 closed

[2020-02-17 16:40] #227 closed

[2020-02-17 19:10] #175 closed

[2020-02-17 19:12] #79 closed

[2020-02-22 09:12] raghav4 commented on #239
Hi @jeromesimeon, it must have been fixed by now as I tried recreating the issue with whatever you've suggested but couldn't encounter it, here's the link to the video reference https://www.loom.com/share/89b49297903543e7a37572cd8f2323df

Thank you

[2020-02-24 14:36] irmerk commented on #239
@jeromesimeon this was fixed in [markdown-transform 0.9.10](https://github.com/accordproject/markdown-transform/releases/tag/v0.9.10) correct?

[2020-02-24 14:38] jeromesimeon commented on #239
@irmerk I think so! Closing this issue.

[2020-02-24 14:38] #239 closed

[2020-02-28 07:48] shrey-sachdeva2000 commented on #124
Hi @irmerk, I have been working on this new UI.

![UI](https://user-images.githubusercontent.com/47667325/75520558-d3b26980-5a2b-11ea-92ad-49d4ef2e5f44.jpg)

These are some things I focused upon in this design:
- Cleaning the toolbar with icons having equal proportions and similar style
- Increasing the editor width with more spacing
- Removing header styles from dropdown for better accessibility

[2020-02-28 16:54] 98lenvi commented on #213
Can I try?

[2020-02-28 17:30] dselman commented on #213
Assigned to you. Thanks!

[2020-02-28 17:31] dselman commented on #213
Google Docs is another source of inspiration.

[2020-02-28 18:16] dselman commented on #124
Nice work. I suggest you create a PR – which will create a preview that people can play with on the server and provide input on.

[2020-02-28 18:18] irmerk commented on #124
Agreed, put in a PR because this looks great so far!

[2020-02-28 18:22] shrey-sachdeva2000 commented on #124
Thanks @irmerk @dselman. I forgot to mention that this is just the design I made on Illustrator. I haven’t started working on the code yet, but if you like this I can surely go ahead with it.

[2020-02-28 18:24] irmerk commented on #124
Oh oh I see. Okay well great. So far my initial points are:
- H1, H2, H3 should include an option for paragraph mode (P)
- Contrast for the clause template is a little off for accessibility
- I believe (could be wrong) that the width is controlled through props, so it could potentially be wider at the moment.

[2020-02-28 18:26] Michael-Grover commented on #124
Looks good but I prefer the current styles dropdown
![image](https://user-images.githubusercontent.com/40569793/75575331-e75ecf80-5a2d-11ea-8097-7cacb46f38ff.png)

[2020-02-28 18:28] Michael-Grover commented on #124
Where would the markdown preview go?

![image](https://user-images.githubusercontent.com/40569793/75576353-33117900-5a2e-11ea-8063-87c9d1310267.png)

[2020-02-28 18:29] irmerk commented on #124
This isn't about the markdown preview in the demo, but rather the contract editor itself which creates the right side of the demo.

[2020-02-28 18:30] irmerk commented on #124
Oh and the styling changes for the clause template _would_ need to stay in `ClausePlugin` in `cicero-ui`

[2020-02-29 13:55] 98lenvi commented on #240
Hi @jeromesimeon, I had one more observation about the behavior.

In the editor when you delete everything, The markdown will show the symbol for the topmost string, i.e. if the topmost was a `Heading 1`, then the markdown would be `===`, similarly, if it was `block-quote`, it will show a markdown with `>`

In google docs, the behavior would be an empty string of the currently selected format.

I'

[2020-02-29 14:45] shrey-sachdeva2000 commented on #124
Yes, I will start working on it and I could definitely use some help here if anyone is willing to work on this. @elit-altum?

[2020-02-29 14:55] elit-altum commented on #124
Sure I'd love to work on this @shrey-sachdeva2000. You should proceed to create a Draft PR and we'd collaborate there?
@irmerk Should we shift this to Figma for easier reviews on the design?

[2020-02-29 15:52] elit-altum commented on #124
How does this look for a start @irmerk ?

***Previous***
![image](https://user-images.githubusercontent.com/41413622/75610709-88867c80-5b39-11ea-9d88-5c1a13c5f8df.png)

***After***
![image](https://user-images.githubusercontent.com/41413622/75610684-5bd26500-5b39-11ea-9685-c456b82e97f1.png)

[2020-02-29 16:33] irmerk commented on #124
@elit-altum I have not used Figma before, but that's up to you. I think the community can better comment and give feedback if there is a working PR. #247 seems to be a start for that. If someone wants to propose something for the styling of the clause template, that would be in `cicero-ui`.

[2020-02-29 16:41] elit-altum commented on #126
Can I take a shot with this ?

[2020-02-29 16:42] irmerk commented on #126
@elit-altum Yes but I believe this may need to be moved to `cicero-ui`, which is where variables are defined and used. I'll transfer it there and assign you.

[2020-02-29 16:48] irmerk commented on #240
@98lenvi take a stab at it and let us know what you run into!

[2020-02-29 17:15] irmerk opened #248 "Performance Boost for Key Inputs"
We could likely refactor how the editor handles a key press to more efficiently determine how to perform. Right now we test the key press event against all possibilities before moving on.

### [The code in question](https://github.com/accordproject/markdown-editor/blob/master/src/SlateAsInputEditor/index.js#L377-L416):

[code]

[2020-02-29 17:19] irmerk opened #249 "Keyboard Shortcut for Links"
Support for adding a link via the keyboard.

#### Notes from @98lenvi:
- Link Keyboard shortcut is not implemented, I think we need to refactor the code as the methods for rendering the Link popover resides in `FormattingToolbar` which is a child of of the `Editor` where I am providing the `KeyDown` conditions.
- Refactoring can be moving the `renderLinkSetForm()` of the link popover to a new comp

[2020-02-29 20:55] 98lenvi commented on #240
Sure! @irmerk

[2020-02-29 21:01] 98lenvi commented on #241
Can I take this up? I had achieved this functionality with the keyboard shortcuts, but discarded because I thought it is not an ideal behavior.

[2020-03-01 06:10] shrey-sachdeva2000 commented on #124
**Changes**
- More subtle shadow on  Formatting Toolbar and Markdown Wrapper
- New icons for Redo, Undo and Quote
- Changed background color to dark for Toolbar Tooltip
- Changed color for icons when active

**Issues**
- Toolbar Tooltip edge is still white, it might be coming from Slate

**Proposal**
- Mention the shortcut commands for the formatting options inside Tooltip
- Make the Tooltips more

[2020-03-01 14:14] kanav-raina opened #251 "Protocol and library spelling mistake in readme"
![protocol_and_library_in_markdown_editor](https://user-images.githubusercontent.com/29794748/75627295-f5ab1800-5bf4-11ea-83e2-2ccaf2983026.png)
![protocol_and_library_in_markdown_editor_2](https://user-images.githubusercontent.com/29794748/75627300-fcd22600-5bf4-11ea-985f-4c75c953bad0.png)

[2020-03-01 23:52] irmerk commented on #251
This is likely the case for all repos that have this section in the README, so PRs for all those would be necessary and we can approve them all at the same time.

[2020-03-01 23:56] irmerk commented on #251
Review the contribution guidelines [here](https://github.com/accordproject/markdown-editor/blob/master/CONTRIBUTING.md)

[2020-03-02 05:58] kanav-raina commented on #251
I have updated the spelling

cicero                                        done
ergo                                          done
concerto                                    done
markdown-editor                       done
cicero-template-library              already correct
model   library_spelling             done
techdocs                                   already correct
cicero-vscode-extension

[2020-03-02 16:04] irmerk opened #255 "Reduce Prop Reliance"
We should not be in the habit of relying on a lot of styling props for individual fields. This practice has gotten out of hand:

[code]

All of these should be removed and we should instead rely on a strong system of structured class names. This will allow users to handle what these props currently do via overriding the CSS.

### Related Issue:
- https://github.com/accordproject/cicero-ui/issues/3

[2020-03-02 18:13] 98lenvi commented on #255
Please assign this to me!

[2020-03-02 21:10] #251 closed

[2020-03-03 14:50] shrey-sachdeva2000 opened #258 "Shortcut commands in Tooltips missing"
**Is your feature request related to a problem? Please describe.**
- With the addition of shortcut commands, they should also be mentioned in `toolbarTooltip`
- Make the Tooltip more descriptive

**Describe the solution you'd like(reference)**
![image](https://user-images.githubusercontent.com/47667325/75786757-c7137580-5d8b-11ea-8645-61982fb6a286.png)

**Additional context**
- This feature contin

[2020-03-03 18:15] 98lenvi commented on #255
@irmerk  I have a question, wouldn't removing props all together and introducing class-name based styling be opposite to what `styled-components` actually is?

I think defining the `editorProps` like this and passing this down to the components, and at the same time declaring the same object as `default props` will make the code look much cleaner and at the same time use CSS in JS. I can also modi

[2020-03-04 03:21] irmerk commented on #255
My initial thought was to remove the conditional props and let styled components do its thing. The user would then provide an override to the styled components via the class system if they want different styling.

@mttrbrts @DianaLease thoughts?

[2020-03-04 08:35] 98lenvi commented on #255
@irmerk. Okay, I got it! So I'll start off writing the `classnames`.

[2020-03-04 15:29] irmerk commented on #248
Reopening for further refinement: I was thinking of an object literal instead of a switch case - though I'm not 100% it's possible in this application.

A couple resources:
- https://ultimatecourses.com/blog/deprecating-the-switch-statement-for-object-literals
- https://dev.to/lukyhenson/replace-your-switch-statement-and-multiple-if-and-else-using-object-literals-en-us-1dec

[2020-03-04 22:20] irmerk commented on #244
Repopening for adding documentation for this in the `README`

Also, a thought: Is there a way to support users creating their own hotkeys?

[2020-03-04 22:32] #213 closed

[2020-03-06 14:32] #258 closed

[2020-03-06 17:00] 98lenvi commented on #244
@irmerk, we can maybe support re-mapping of hotkeys, but for adding new hotkeys, it will be a challenge. And even if the user enters custom hotkeys, where do we store it? I think storing in localStorage would be the best option.

[2020-03-06 17:35] irmerk commented on #244
That makes sense @98lenvi. I think the documentation is probably a better goal for right now and we can open an issue around creating hotkeys if a user actually requests it.

[2020-03-06 18:01] 98lenvi commented on #244
@irmerk, Where would you like to place this in the readme? I think after examples, would be a good place. Do you want to have a separate file(constants) that has the keyboard shortcuts in it (making it easier for the user to modify it), and provide documentation for editing that one too(like styles)?

[2020-03-06 18:13] irmerk commented on #244
Hmm I think just before "Demo" here https://github.com/accordproject/markdown-editor#demo would be good for a "Shortcuts" section.

I think I like that direction, but it doesn't seem very necessary right now.

[2020-03-06 18:34] #248 closed

[2020-03-06 19:31] 98lenvi commented on #244
Okie, I'll take it up 😎 !

[2020-03-06 22:24] shrey-sachdeva2000 opened #266 "Selecting list/quote option while link popup is open crashes demo"
**Describe the bug**
Opening the editor and selecting any list type (numbered/bulleted) or quote while the link popup is open crashes the demo

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the markdown-editor-ui demo
2. Click on the pre-existing template link to open the popup
3. Click on any list type or quote
4. Demo crashes

**Expected behavior**
Ideally an error/prompt should be

[2020-03-06 23:29] irmerk commented on #266
Ah thank you for this find! This is a bad one, need to look at this ASAP.

[2020-03-07 07:38] 98lenvi commented on #266
Assign this to me! I'm in progress of finding a fix

[2020-03-07 08:49] elit-altum commented on #249
I'd like to work on this once

[2020-03-08 15:08] elit-altum commented on #217
@irmerk I am not able to recreate this issue, is it fixed ?

[2020-03-09 01:18] irmerk commented on #217
@elit-altum I believe so, I cannot recreate now either. Unsure what fixed this.

[2020-03-09 01:18] #217 closed

[2020-03-09 11:23] nik72619c opened #270 "[ Editor Issue ] Bold button does not work"
**Describe the bug**
The bold button should make the highlighted text bold, but it does not. The corresponding shortcut for it works as intended the button does not produce the desired effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the project (either in prod version or development)
2. Select the text which you want to make bold
3. Click on the `B` icon for making the text bold

[2020-03-09 19:09] irmerk commented on #124
Closing issue. Open a new issue with some context if wanting to adjust styling.

[2020-03-09 19:09] #124 closed

[2020-03-09 19:56] irmerk commented on #229
Still needs work, see later comments in #269

[2020-03-09 20:40] #270 closed

[2020-03-09 22:01] shrey-sachdeva2000 opened #272 "Removing link followed by Undo shortcut crashes demo"
**Describe the bug**
Opening the editor and removing the templated link from popup followed by Undo shortcut (Ctrl+Z) crashes the demo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `markdown-editor` demo
2. Click on the templated link
3. Click on 'Remove' from the popup
3. Press Ctrl + Z (Undo command)
4. Demo crashes

**Expected behavior**
Preferably, the link should be restored.

[2020-03-09 22:16] jeromesimeon commented on #229
@irmerk I believe the change in #269 will break lists containing more than one paragraph. (need to be tested, but I suspect)

[2020-03-09 22:39] jeromesimeon opened #273 "Lists items with anything but a single paragraph are not rendered properly"
**Describe the bug**
List items containing more than one paragraph (or other kinds of nodes) are wrongly rendered as multiple items of the list.

This is a regression, I believe introduced in `0.9.11`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the editor with the following markdown

[code]

In the Markdown dingus:
<img width="909" alt="Screenshot 2020-03-09 at 6 36 21 PM" src="htt

[2020-03-09 22:48] jeromesimeon commented on #273
I believe this is due to the new rendering for list introduced in https://github.com/accordproject/markdown-editor/pull/269

[2020-03-10 15:34] #273 closed

[2020-03-10 18:52] irmerk opened #276 "User Interaction Testing"
This issue will track the tests which need to be implemented in order to increase stability of this codebase. Please feel free to add suggestions.

**MASTER_MARK_LIST**:
  - [ ] `bold`, `italic`, `hyperlink`, `code`
  - [ ] `bold+italic`, `bold+hyperlink`, `bold+code`
  - [ ] `italic+hyperlink`, `italic+code`
  - [ ] `code+hyperlink`
  - [ ] `bold+italic+hyperlink`, `bold+italic+code`
  - [ ] `ita

[2020-03-10 18:53] shrey-sachdeva2000 commented on #182
Please assign this to me. Also, should the image button be next to the link?

[2020-03-10 22:00] irmerk commented on #182
@Michael-Grover do you have a preference on placement?

[2020-03-11 13:32] elit-altum commented on #273
Sorry for this @irmerk @jeromesimeon but I think it would require a deeper dive into how the lists are being handled as other nodes are being lost as well while toggling the lists. Please see :

![Major-issue](https://user-images.githubusercontent.com/41413622/76422118-b6d24a80-63ca-11ea-8497-9e588040f2ff.gif)

[2020-03-11 13:41] jeromesimeon commented on #273
@elit-altum I don't see any problem with this behaviour on the snapshot.

[2020-03-11 13:45] elit-altum commented on #273
Is the ```---``` being lost on conversion of lists expected ?

[2020-03-11 18:19] shrey-sachdeva2000 opened #279 "Markdown Support: Adding Images"
**Is your feature request related to a problem? Please describe.**
The markdown editor should support rendering of images.

**Describe the solution you'd like**
1. A popup when the user clicks on the image button in the formatting toolbar (similar to what we have for links).
2. Rendering images directly when the user paste URL/drops image in the markdown.

**Additional context**
Slate supports bot

[2020-03-11 18:25] dselman commented on #272
I'd like to understand *why* the editor is crashing. Probably related to how we are adding the link...

[2020-03-12 00:03] irmerk commented on #279
Reiterating what I mentioned in the other PR: Hold off on working on this - @dselman is migrating `markdown-editor` to the newest Slate (`v0.5x`), so once that is done we can resume work on this issue.

[2020-03-12 16:57] #280 closed

[2020-03-12 17:18] 98lenvi opened #282 "Block quotes crashes the markdown editor"
**Describe the bug**
Any method of creating blockquote crashes the entire editor

**To Reproduce**
Steps to reproduce the behavior:

Open [editor demo](https://accordproject-markdown-editor.netlify.com/), then

1. Place cursor Any text that is not a blockquote, for example

2. Click on blockquotes `"` via the toolbar or `CTRL` + `Q`
3. The editor crashes

Doesn't crash when placing the cursor on a

[2020-03-12 17:29] 98lenvi commented on #282
It crashes in [deploy preview for PR #277 ](https://deploy-preview-277--accordproject-markdown-editor.netlify.com/) but doesn't crash in [deploy preview for PR #275 ](https://deploy-preview-275--accordproject-markdown-editor.netlify.com/)

[2020-03-12 17:31] irmerk commented on #282
Looking into this.

[2020-03-12 19:54] Michael-Grover opened #286 "Changing header text to bulleted list can sometimes break the editor"
**To Reproduce**
1. Delete everything from the markdown editor
2. Create a line of text and make it a header 1, header 2, or header 3
3. Highlight the header text and change it to a bulleted list or numbered list
4. The text has now disappeared, and it is not possible to type any more text

https://www.loom.com/share/9ac04d7cd778464fb8047c91e7f3973d

[2020-03-12 19:56] jeromesimeon opened #287 "Some Possible Improvements to Redo/Undo"
A few things do not feel entirely natural with the current Undo/Redo behaviour:
1. Sometimes it takes several clicks for a change to be undone/redone. I think because it tracks selection or cursor position changes. I'm not sure what the usual/expected behaviour for editor is, but it felt a little cumbersome
2. the above issue is compounded by the fact that you don't always have a visual hint (undo

[2020-03-12 20:08] irmerk commented on #282
Resolved with #283

[2020-03-12 20:08] #282 closed

[2020-03-12 20:08] Michael-Grover opened #288 "in the first line of text, pressing backspace on an empty bulleted list should delete the bulleted list"
When a user clicks backspace on an empty list element like this:

-

The list element should disappear.

This is the case in the markdown editor for the most part, but not when the list element is the first line of text.

**Steps to reproduce**
1. Create a list element that's the first line of text in the editor
2. Click backspace until nothing is left in the list element
3. Now you can't delete t

[2020-03-12 20:13] Michael-Grover opened #289 "Switch order of bulleted list and numbered list icons"
Currently in the markdown editor toolbar, bulleted lists come before numbered lists, however the shortcuts we use for those formatting options imply that ordered lists come before bulleted lists.

Switch the order such that numbered lists are before bulleted lists so that the shortcuts make sense and so we match Google Docs, where we took the shortcuts from.

![image](https://user-images.githubuse

[2020-03-12 20:22] jeromesimeon commented on #289
Just to clarify: the shortcuts are `⌘⇧7` for bulleted lists (which is nice since it's the same as `⌘*` so like the `*` in markdown) and `⌘⇧8`.

I like @Michael-Grover 's suggestion to keep the shortcuts but reverse the order of the buttons in the toolbar.

[2020-03-12 20:25] jeromesimeon commented on #289
One more data point: the Slack markdown editor uses the same shortcuts as we do. It's probably a good idea to keep them.

<img width="137" alt="Screenshot 2020-03-12 at 4 24 50 PM" src="https://user-images.githubusercontent.com/670099/76563567-0faeeb00-647e-11ea-8417-bca93932848b.png">

[2020-03-12 20:27] Michael-Grover opened #290 "Change code shortcut"
The shortcut for making text look like code is currently cmd+alt+c and ctrl+alt+c opens the code inspector on Google Chrome (the most widely used browser). This is very disruptive and can be confusing to people who are not familiar with the browser code inspector.

**Change the shortcut to ctrl(cmd)+shift+9 and place the code icon after the bulleted list and numbered list icons.**

According to th

[2020-03-12 20:30] jeromesimeon commented on #289
Not sure whether this should be filed as a new issue, but a couple more comments. I personally like `⌘⇧8` rather than `⌘+⇧+8` in the shortcut hints.

[2020-03-12 20:34] jeromesimeon commented on #290
I think I would avoid `Alt` altogether? This is the only shortcut using it, I believe?

For reference in Slack it's `⌘⇧c`
<img width="153" alt="Screenshot 2020-03-12 at 4 34 30 PM" src="https://user-images.githubusercontent.com/670099/76564653-64069a80-647f-11ea-9cfb-88dea899909c.png">

[2020-03-12 20:35] Michael-Grover commented on #289
I think we should use the word "shift" instead of the arrow pointing up. Personally I get confused when shortcuts use all of the icons because I don't have them memorized. My mac keyboard doesn't have an arrow pointing up on the shift key so I am not sure how someone would connect the arrow with "shift". The arrow also looks more like a house in my opinion. Looks like "home key"

[2020-03-12 20:38] Michael-Grover commented on #290
"cmd shift c" and "cmd alt c" open up the web inspector on my mac

[2020-03-12 20:38] jeromesimeon commented on #290
I take it back `⌘⇧c` opens a kind of console on Safari too... so I like the `ctrl(cmd)+shift+9` idea. I would just make sure the number we pick corresponds to the order of the buttons (see https://github.com/accordproject/markdown-editor/issues/289)

[2020-03-12 20:40] Michael-Grover commented on #290
we can't do ctrl(cmd)+shift+6 because that is the screenshot shortcut on mac, so to keep the button order consistent we should move the code icon to after the two list icons

[2020-03-12 20:44] jeromesimeon commented on #290
Interesting: Slack in the browser (I'm using Safari) supports `⌘⇧c` and does not open the console. There must be a way to trap those calls...

<img width="1246" alt="Screenshot 2020-03-12 at 4 42 16 PM" src="https://user-images.githubusercontent.com/670099/76565266-94026d80-6480-11ea-853f-6a20372b2e01.png">

[2020-03-13 14:49] elit-altum commented on #290
Can I work on this?

[2020-03-13 14:50] Michael-Grover commented on #290
sure, thanks

[2020-03-13 14:52] elit-altum commented on #290
Can I handle https://github.com/accordproject/markdown-editor/issues/289 in the same PR ?

[2020-03-13 14:52] Michael-Grover commented on #290
Yeah I think that's a good idea

[2020-03-13 14:53] Michael-Grover commented on #290
Since there are a lot of comments on this issue, I should clarify that I think we should do the following:

**Change the shortcut to ctrl(cmd)+shift+9 and place the code icon after the bulleted list and numbered list icons.**

[2020-03-13 14:54] shrey-sachdeva2000 commented on #289
Can I take this one?

[2020-03-13 14:57] Michael-Grover commented on #289
Sorry @shrey-sachdeva2000 , a few minutes ago @elit-altum asked to take on this issue in the same PR as [this other issue](https://github.com/accordproject/markdown-editor/issues/290)

[2020-03-13 14:58] Michael-Grover commented on #289
Thanks for offering! For some reason github won't let me assign @elit-altum to this issue to avoid confusion. @elit-altum can you assign yourself? Maybe you need to comment on the issue before I can assign you?

[2020-03-13 15:00] elit-altum commented on #289
Sure @Michael-Grover
I'd like to work on this!

[2020-03-13 15:04] elit-altum commented on #290
In the tooptip should I use the word ```shift``` or the icon (⇧)?

[2020-03-13 15:05] Michael-Grover commented on #290
What do the other tooltips currently use?

[2020-03-13 15:06] elit-altum commented on #290
The icon only. But I wanted to know should we convert all to ```shift``` ? It's just a suggestion as some people might not be familiar with the icon.

[2020-03-13 15:07] Michael-Grover commented on #290
Yeah there have been some discussions around this and I completely agree, can you change every use of the arrow icon to shift please?

[2020-03-13 15:08] elit-altum commented on #290
Sure will do !

Sure will do!

[2020-03-13 15:09] Michael-Grover commented on #290
please mention in the PR the justification for changing the arrow icon to the word shift so that others viewing the PR understand why the change was made

[2020-03-13 15:11] elit-altum commented on #290
@Michael-Grover Is this the required order ?
![image](https://user-images.githubusercontent.com/41413622/76633639-0c455d80-656b-11ea-9ffb-7c7cc63e7163.png)

[2020-03-13 15:13] Michael-Grover commented on #290
yeah, so the shortcuts go ctrl+shift+7, ctrl+shift+7, ctrl+shift+9, right?

[2020-03-13 15:15] elit-altum commented on #290
Yes they do! Will proceed to make a PR

[2020-03-13 15:59] elit-altum commented on #286
@Michael-Grover This is due to the fact that the ```list_item``` only support ```paragraph``` as a child node.
Do we want to change it ?

[2020-03-13 18:20] Michael-Grover commented on #286
I don't know, we may need input from @irmerk @DianaLease or @jeromesimeon

[2020-03-13 21:55] Michael-Grover opened #293 "Improved Hyperlink UI"
I am working on an improved UI for hyperlinks using UIs from Google Docs, Jira, Medium, and others as inspiration. If you know of any good examples let me know.

I will update this issue when I'm done. Feel free to comment with examples of hyperlink UIs that you think work well.

Icon assets:
[hyperlink icons.zip](https://github.com/accordproject/markdown-editor/files/4339524/hyperlink.icons.zip)

[2020-03-13 21:55] Michael-Grover commented on #293
![image](https://user-images.githubusercontent.com/40569793/76662273-dfd21700-6553-11ea-9290-90aa8a2c23c2.png)

[2020-03-13 22:25] Michael-Grover commented on #293
This is what I have so far. I like having one modal for everything instead of having a separate one for editing the link like Google and Jira do (see above for their UIs). feedback welcome. I will share final assets next week after getting some feedback.

![image](https://user-images.githubusercontent.com/40569793/76663563-c7fc9200-6557-11ea-980d-3d0adf7cc5a5.png)

[2020-03-13 22:26] Michael-Grover commented on #293
![image](https://user-images.githubusercontent.com/40569793/76663683-1f026700-6558-11ea-86a6-d8a1357bb0fc.png)

[2020-03-14 04:37] elit-altum commented on #293
Can I work on it along with https://github.com/accordproject/markdown-editor/pull/284?

[2020-03-14 04:38] elit-altum commented on #293
Can I work on it along with https://github.com/accordproject/markdown-editor/pull/284?

[2020-03-14 16:55] irmerk commented on #293
@elit-altum Yes that would work.

[2020-03-14 17:38] irmerk commented on #286
@elit-altum I'm unsure about this. But if it involves the schema, I'm inclined to say we wait for the Slate `v0.5x` migration because I believe it does not use a schema anymore.

[2020-03-16 14:19] Michael-Grover opened #296 "Make "Insert a link" shortcut ⌘+K on mac and CTRL+K on Windows"
Make "Insert a link" shortcut ⌘+K on mac and CTRL+K on Windows. Be sure to show the shortcut in the tooltip and use the correct one for each operating system. Make sure the tooltip is consistent with existing tooltips.

![image](https://user-images.githubusercontent.com/40569793/76767089-6f074680-676f-11ea-9935-d501d0cbc8ba.png)

[2020-03-16 17:43] Michael-Grover commented on #293
@elit-altum I have added more detail to the github issue, the design is ready to go. Let me know if you have any questions

[2020-03-16 17:46] elit-altum commented on #293
Sure @Michael-Grover they look amazing!
I'd start working on it as soon as possible!

[2020-03-17 06:01] shrey-sachdeva2000 commented on #296
Can I take this one? @Michael-Grover
Although I'd like to point out that Ctrl+K shortcut directs me to the search box on Chrome.

[2020-03-17 06:03] shrey-sachdeva2000 commented on #296
Can I take this one? @Michael-Grover
Although I'd like to point out that Ctrl+K shortcut directs me to the search box on Chrome. Should we go for Ctrl+Shift+K instead?

[2020-03-17 09:05] elit-altum commented on #293
@Michael-Grover @irmerk currently I have created this much. Please review. Then I'll proceed to make the tooltips
![Implemented fix](https://user-images.githubusercontent.com/41413622/76839732-06e25e80-685c-11ea-90c6-7dacbf7052fd.png)

Some queries :
1. I have used ```flexbox``` for the layouts as they are only 1D layouts. Is that okay?
2. Currently I have used inline CSS styling for customising t

[2020-03-17 09:20] dselman commented on #279
Work has started on this in the 0.50 branch.

[2020-03-17 09:27] dselman opened #297 "Migrate to Slate 0.50.x"
The editor needs to be updated to use Slate 0.50.x. This is a major release of Slate with many breaking changes.

This work is underway in the `slate-0.50.x-hack` branch. Note that you also need to `npm link` to the `accordproject/markdown-slate` on the `slate-0.50.x` branch.

If you want to paste HTML `img` tags you will also need to `npm link` to `@accordproject/markdown-html` on the `slate-0.50

[2020-03-17 13:19] DianaLease commented on #293
Hi @elit-altum !
1. Flexbox or css grid is fine for layouts!
2. I'd suggest avoiding inline styles and instead using `styled-components`. It's easier to read and re-use in the future if needed. If you are adding styles to a semantic-ui element, you'd use parentheses like [here]( https://github.com/accordproject/cicero-ui/blob/215cc84cfeecb2b6d5c0ee565b051e37a26ccf6b/src/ErrorLogger/styles.js#L47).

[2020-03-17 14:37] Michael-Grover commented on #296
@shrey-sachdeva2000 is that on windows or Mac? I don't know about Windows but on Macs, cmd+K is the standard shortcut for creating a link. Even github on Mac uses cmd+k for creating a link. I am booting up my old windows desktop now to check what the standard shortcut on Windows is, however from what I can tell it is ctrl + k, consistent with Mac.

If Chrome uses this shortcut for something else,

[2020-03-17 14:47] Michael-Grover commented on #293
@elit-altum

I just added you to the invision, sorry for the delay. Let me know if you still can't access the invision screens.

It looks great, thanks for providing screenshots. Here's my feedback:

The gray box should only appear on hover
![image](https://user-images.githubusercontent.com/40569793/76867644-341f1480-683c-11ea-989b-dfea7f1a97eb.png)

Use the button style from the invision (I under

[2020-03-17 17:03] algomaster99 commented on #296
@Michael-Grover @DianaLease @irmerk
I was working on this issue and I needed some help.
1. `case isHotKey('mod+shift+k', event) && isEditable(editor, CONST.HYPERLINK):`
I  have added this line in `SlateAsInputEditor/index.js`
2. This case will invoke a function which shall change the state of the 'SetLinkForm'.
3. In the same file, I added these two lines as well:
[code]
And then I passed this ope

[2020-03-17 17:32] #289 closed

[2020-03-17 17:32] #290 closed

[2020-03-17 17:37] irmerk commented on #296
It looks like @shrey-sachdeva2000 is working on this one.

Still, @algomaster99, I'm not sure I follow the logic for `toggleLinkFormVisibility`. Could you show more of the code you have so it may be a bit more clear?

[2020-03-17 17:40] algomaster99 commented on #296
@irmerk Shall I make a draft PR for this one?

[2020-03-17 18:32] irmerk commented on #296
This is getting a bit too involved prior to [migration to slate `v0.5x`](https://github.com/accordproject/markdown-editor/issues/297). I'm working on that this week, so we can revisit this issue after.

[2020-03-18 07:25] shrey-sachdeva2000 commented on #296
[acsc](url)

This behaviour is on Windows. And yes, we can override this. Actually, the only time Ctrl+K would open a query search is when the focus of the cursor is not inside the editor. The same thing happens with GitHub, Ctrl+K for links only works when the focus is inside the textarea and some text is selected.

[2020-03-18 17:09] shakti97 commented on #240
Can I work on this issue?

[2020-03-18 17:24] shakti97 commented on #288
I would like to work on this issue

[2020-03-18 17:33] shakti97 opened #301 "Add Husky and Lint Staged"
**Is your feature request related to a problem? Please describe.**
Sometimes the developer commit consist of linting error

**Describe the solution you'd like**
It will automatically fix the linting error and don't let the developer commit without fixing the lint error

**Additional context**
I would like to work on it

[2020-03-18 18:49] Michael-Grover commented on #288
@shakti97 I've assigned you to the issue, thanks!

[2020-03-18 22:20] shakti97 commented on #288
Thanks, I started working on that,

[2020-03-19 04:17] Moizsohail commented on #296
I would like to work on this feature request

[2020-03-19 04:21] Michael-Grover commented on #296
@Moizsohail this issue is on hold as per @irmerk's comment earlier

And it looks like @shrey-sachdeva2000 is already working on this. I just assigned the issue to him now to avoid any confusion

[2020-03-19 13:24] irmerk commented on #240
That's a question for @98lenvi I believe. Are you still working on this?

[2020-03-19 13:32] irmerk commented on #301
Could you provide more info and context? Not sure I understand this.

[2020-03-19 13:40] irmerk commented on #288
@shakti97 hold off on this until we finish the Slate migration, tracked [here](https://github.com/accordproject/markdown-editor/issues/297).

[2020-03-19 16:50] elit-altum commented on #293
@Michael-Grover on it!

[2020-03-20 05:35] shakti97 commented on #301
if there is any linting issue or any other issue ,In order to force people to fix the code before commit it, we can use Husky. We need Husky to run a command before git commit runs. In this case, we use Husky to run ESLint. If a problem is found, Husky will stop the process and commit will fail. On the other hand, if no problem is found, git commit will run as usual.

Lint-staged can be used to ru

[2020-03-20 14:46] Michael-Grover commented on #279
Here is an icon for this feature

[image.svg.zip](https://github.com/accordproject/markdown-editor/files/4360189/image.svg.zip)

[2020-03-20 21:18] irmerk commented on #301
@jeromesimeon do you have any thoughts on this?

[2020-03-20 21:19] #244 closed

[2020-03-24 21:37] irmerk opened #302 "Hyperlink Support in Slate 0.57"
We need support back for hyperlink editing.

Needs to be done **in conjunction with**:
- #293

Can be done **after**:
- #297

## Related Issues in `markdown-editor`:
- #249
- #272
- #266
- #296

## Related Info:
- [Issue][slate1] in Slate.
- Related issues discussed in Slate's Slack (these may no longer exist): [one][slack1], [two][slack2], [three][slack3].
- [Hyperlink example in Slate docs][slat

[2020-04-07 17:10] nik72619c commented on #288
@shakti97 shall I take up this one if you are not working on it ?

[2020-04-07 19:35] irmerk commented on #288
@nik72619c we are holding off for the Slate migration.

[2020-04-07 19:36] irmerk commented on #240
I think hold off on this for the [Slate migration](https://github.com/accordproject/markdown-editor/issues/297)

[2020-04-10 08:13] imrishabh18 commented on #78
@irmerk Can i work on this issue ?

[2020-04-10 12:55] irmerk commented on #78
@imrishabh18 we should review this issue after https://github.com/accordproject/markdown-editor/issues/297 is complete.

[2020-04-10 20:35] irmerk commented on #297
Closing, still working on hyperlink support, but now everyone can start work off `master` again.

[2020-04-10 20:35] #297 closed

[2020-04-10 20:47] irmerk commented on #296
@algomaster99 @shrey-sachdeva2000 @Moizsohail:

#297 has been finished, so there is no longer a blocker on this issue. Confer with @DianaLease who is working on getting the hyperlink modal support again. #302 is tracking this.

[2020-04-10 20:47] irmerk commented on #288
@shakti97 @nik72619c:

#297 has been finished, so there is no longer a blocker on this issue. The migration _may_ have solved this issue, so look into that first.

[2020-04-10 20:47] irmerk commented on #240
@98lenvi @nik72619c @shakti97:

#357 (and accordproject/markdown-editor#297) has been finished, so there is no longer a blocker on this issue. The migration _may_ have solved this issue, so look into that first.

[2020-04-10 20:47] irmerk commented on #78
@imrishabh18:

#297 has been finished, so there is no longer a blocker on this issue. The migration _may_ have solved this issue, so look into that first.

[2020-04-11 13:41] shrey-sachdeva2000 opened #313 "Make "Insert Image" Shortcut ⌘+Shift+G on Mac and Ctrl+Shift+G on Windows"
Make a "Insert Image" shortcut `Ctrl+Shift+G` on Windows and `⌘+Shift+G` on Mac. Also change the tooltip of the "Insert Image" button to show the shortcut.

[2020-04-11 17:12] shrey-sachdeva2000 opened #314 "Make ToolbarMenu Sticky"
**Is your feature request related to a problem? Please describe.**
The `ToolbarMenu` is not sticky so formatting might be an issue when the contract becomes long as the toolbar won't be visible.

**Describe the solution you'd like**
The `ToolbarMenu` should be sticky and attach to the top of the editor when the user scrolls so it is in view when scrolling through long contracts.

**Additional cont

[2020-04-11 17:45] irmerk commented on #314
@Michael-Grover @DianaLease thoughts?

I'd like to see how this looks when used in the `ContractEditor` in `cicero-ui`

[2020-04-12 19:36] irmerk commented on #313
I think this is being tracked in #296

[2020-04-12 19:40] shrey-sachdeva2000 commented on #313
Isn't #296 to add shortcut support for hyperlinks only?

[2020-04-12 19:42] irmerk commented on #313
Oof, yes, I'm on a roll today of not being able to read correctly.

[2020-04-12 19:45] jeromesimeon opened #316 "Quoting in Cicero UI doesn't seem to handle nested structures as the Md editor"
Quoting in the markdown editor properly preserves the structure of the selected part of the document:

![QuoteMarkdownEditor](https://user-images.githubusercontent.com/670099/76561230-3dddfc00-6479-11ea-9a4b-7568e2c9eb8c.gif)

It seems to lose the structure when quoting in Cicero UI:

![QuotingCiceroUI](https://user-images.githubusercontent.com/670099/76561260-4f270880-6479-11ea-8753-ca58f8be1d3c.

[2020-04-12 19:51] shrey-sachdeva2000 commented on #313
Thanks! Please assign this to me. Also, does `mod+shift+G` hotkey for inserting images sound good?

[2020-04-12 20:08] irmerk commented on #313
@Michael-Grover thoughts?

[2020-04-13 11:50] dselman opened #319 "Heading One not preserved on Paste"
**Describe the bug**
Copy/paste within the editor doesn't preserve H1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cicero-ui.netlify.com
2. Select "Heading One" as well as the first paragraph.
3. Press CTRL-C to copy
4. Place cursor after "this is inline code" on a newline
6. Press CTRL-V to paste
7. Note that "Heading One" is inserted as normal text. The rest of the format

[2020-04-13 11:59] dselman opened #317 "Add support for tables"
Many markdown files contain tables. It would be very useful for the editor to support these files.

**Describe the solution you'd like**
UI to render and edit tables.

**Additional context**

Slate tables demo: https://www.slatejs.org/examples/tables
Table in commonmark discussion: https://talk.commonmark.org/t/tables-in-pure-markdown/81/9
GFM: https://github.github.com/gfm/#tables-extension-

[2020-04-13 12:52] dselman opened #318 "Custom dialogs to edit links and images"
The toolbar allows inserting both links and images. Both would benefit from a custom dialog to insert new links or to edit existing links.

[2020-04-13 12:52] irmerk commented on #318
Moved to `markdown-editor`, relates to #293

[2020-04-13 12:55] irmerk commented on #318
@Michael-Grover any thoughts on this?

From @dselman:

[2020-04-13 13:24] DianaLease commented on #314
Yes, I believe this should be sticky. It used to be sticky prior to the slate migration.

[2020-04-13 14:05] irmerk opened #320 "Inconsistent Enter Behavior in Blockquote"
**Describe the bug**
A user experiences two different behaviors with blockquotes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Click within the block quote "`This is a quote.`"
3. Press `Enter` as many times as you wish
4. Clock in another paragraph
5. Format to blockquote with the toolbar
6. Press `Enter` as man

[2020-04-13 14:05] irmerk opened #321 "Cannot Escape Blockquote"
**Describe the bug**
A user has difficulty escaping block quotes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Click within the block quote "`This is a quote.`"
3. Press `Enter` as many times as you wish
4. Does not escape blockquote

**Expected behavior**
Pressing enter twice should escape the blockquote.

[2020-04-13 14:05] irmerk opened #322 "SHIFT+Enter in Blockquote"
**Describe the bug**
A user cannot create a line break _within_ a blockquote.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Click at the end of the first paragraph
3. Press `Enter` and type something
4. Format as a blockquote with the toolbar
5. Press `SHIFT + Enter`
6. A new blockquote is made

**Expected behavio

[2020-04-13 14:05] irmerk opened #323 "Roundtrip Ordered List"
**Describe the bug**
A user cannot roundtrip the ordered list in the demo

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Highlight the entire ordered list (one, two, three)
3. Deselect numbered list in the format toolbar
4. See they have turned into an incorrect bulleted list
5. Format back into a numbered list wit

[2020-04-13 14:20] irmerk opened #324 "Copy Paste Hyperlink Issue"
**Describe the bug**
A user experiences incorrect results pasting in links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Create a new paragraph
3. Paste in `https://github.com/accordproject`
4. Press `Enter`
5. See markdown on the left incorrect (first screenshot)
6. Paste and press `Enter` as many times as you w

[2020-04-13 14:27] dselman commented on #324
How did you paste the link? When I do it (Safari) it just inserts the text of the link.

[2020-04-13 14:28] irmerk opened #325 "Hyperlink Modal Remaining Open"
**Describe the bug**
A user goes through extra steps to close the hyperlink modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Select the existing hyperlink
3. Navigate to the right with the keyboard
4. Type or press `Enter`
5. Hyperlink modal does not close

**Expected behavior**
Modal should close if user is no

[2020-04-13 14:31] irmerk opened #326 "Hyperlink Modal Appears on Enter"
**Describe the bug**
A user can mistakenly create a hyperlink

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Create new empty paragraph
3. Select hyperlink, type in a word and a hyperlink
4. Select end of link, press `Enter` for new paragraph
5. Hyperlink modal appears, press `Enter` again
6. New link is created

*

[2020-04-13 14:33] irmerk opened #327 "Hyperlink Modal Completion Loses Focus"
**Describe the bug**
A user loses focus of the editor when completing a hyperlink

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Select current hyperlink
3. Alter the hyperlink, press `Enter`
4. Focus is lost

**Expected behavior**
Focus should be at the end of the hyperlink

[2020-04-13 14:35] shrey-sachdeva2000 opened #328 "Hyperlink Button crashes Editor after Applying Link"
**Describe the bug**
Selecting the Hyperlink button from the `ToolbarMenu` on selecting an existing link crashes the demo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Create a Hyperlink
3. Click on Apply
4. Click on Hyperlink button in `ToolbarMenu`
5. Demo crashes

**Expected behavior**
The Hyperlink modal should op

[2020-04-13 14:37] irmerk opened #329 "Hyperlink Modal Disrupts History"
**Describe the bug**
A user cannot undo a link if forwarding through a hyperlink modal in history

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Create new empty paragraph
3. Select hyperlink, type in a word and a hyperlink
4. Navigate back in history
5. Navigate forward, see hyperlink modal appear, navigate forwar

[2020-04-13 14:40] irmerk commented on #323
Note unwrapping the existing ordered list makes them unordered list items in the markdown display on the left. So selecting numbered list again makes it:
[code]

[2020-04-13 14:44] shrey-sachdeva2000 opened #330 "Hyperlink changes Styling"
**Describe the bug**
Clicking Apply in Hyperlink Modal on an existing Heading link changes Heading style and moves it to a new line.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Create a Hyperlink on a Heading
3. Open the Hyperlink Modal again by clicking on the link
4. Click on Apply
5. The Heading Style changes and

[2020-04-13 14:46] irmerk opened #331 "Inconsistency in Cut vs. Copy"
**Describe the bug**
A user cannot currently cut properly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Highlight first paragraph
3. Press `MOD + X` to cut
4. Notice text is not cut, press `Enter`
5. Press `MOD + V` to paste
6. Text does paste

**Expected behavior**
Cut should work the same as copy, but also remov

[2020-04-13 14:51] irmerk commented on #324
Copy the URL, `MOD + V` in the editor.

[2020-04-13 14:52] irmerk commented on #328
Oof that's a good one.

[2020-04-13 15:08] shrey-sachdeva2000 commented on #322
I observed the same behaviour with codeblocks as well.

[2020-04-13 15:31] Michael-Grover commented on #313
Google Docs, Microsoft Word, and github don't use shortcuts for inserting images, so it appears that it's not common to use a shortcut for this, but I guess it wouldn't hurt. Is there any precedent for mod+shift+G being the shortcut for adding images? Is the shortcut used for anything else by Windows, Mac, Chrome, Firefox, etc. that might cause issues?

[2020-04-13 15:43] irmerk opened #332 "Initial Linebreak not Preserved on Paste"
**Describe the bug**
Copy/paste within the editor doesn't preserve a linebreak if it is the beginning of the copy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Select `This is ***bold and italic*** text.`, and select up to the end of the previous paragraph
3. Press CTRL-C to copy
4. Press CTRL-V to paste
5. Note

[2020-04-13 15:54] shrey-sachdeva2000 commented on #313
MS Word uses `Alt+N+P` for inserting images but [Stackedit](https://stackedit.io/app#) is a popular online markdown editor that uses `Ctrl+Shift+G`, it also aligns well with the pattern of shortcuts we currently have. It doesn't look like this shortcut is being used by anything else, I tried it on Chrome and Firefox. Will send in a PR for this shortly.

[2020-04-13 16:32] Michael-Grover commented on #318
https://github.com/accordproject/markdown-editor/issues/293 @dselman there is a custom dialogue for links here

if someone wants to edit an image wouldn't they just delete it and add a new one?

[2020-04-13 17:30] irmerk commented on #319
This is only happening when the header is the beginning of the fragment copied.

[2020-04-13 17:34] irmerk commented on #319
This issue actually exists in the [Slate rich text example](https://www.slatejs.org/examples/richtext). Filing an issue in Slate.

[2020-04-13 17:47] irmerk commented on #319
Issue is being tracked already https://github.com/ianstormtaylor/slate/issues/3320

[2020-04-13 17:54] #313 closed

[2020-04-13 18:36] shrey-sachdeva2000 opened #334 "Rich Text Editor Overlaps Markdown Text Editor"
**Describe the bug**
When the `TextArea` of `MarkdownTextEditor` is resized to increase its width, the `RichTextEditor` overlaps the `TextArea` resize button and the `MarkdownTextEditor`  can't be resized again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Click on the `Markdown Text Editor` resize button
3. Increase

[2020-04-13 19:12] shrey-sachdeva2000 opened #335 "Lists Break on Enter"
**Describe the bug**
Pressing <kbd>Enter</kbd> on an item in the List doesn't create a new item in the List.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Click on a List item
3. Press <kbd>Enter</kbd>
4. A new line is created instead of List item

**Expected behavior**
On pressing <kbd>Enter</kbd>, a new list item sho

[2020-04-13 19:32] shrey-sachdeva2000 opened #336 "Copy Paste Lists doesn't Wrap First List Item"
**Describe the bug**
Copy/Paste List Items doesn't wrap the first Item in the List.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Select the existing list in the editor
3. Press <kbd>Ctrl</kbd><kbd>C</kbd> to Copy
4. Press <kbd>Ctrl</kbd><kbd>V</kbd> to Paste
5. The first Item of the list is not wrapped within the list

[2020-04-13 19:35] arteevraina opened #337 "Preview placed between two sections"
Title `Preview` above the code format is placed between partition of two sections.

![Screenshot from 2020-04-14 00-46-55](https://user-images.githubusercontent.com/43968121/79153249-2f259480-7deb-11ea-8719-50af0f8719fb.png)

[2020-04-13 20:08] shrey-sachdeva2000 opened #339 "Preview Text Covers Entire Height"
**Describe the bug**
The vertical divider text "Preview" covers entire height of the editor so the text overlapping it is not selectable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Try to click on any text after the vertical divider text "Preview" from the initial initial text position.

**Expected behavior**
The te

[2020-04-13 20:21] irmerk commented on #337
Could just remove the word `Preview` altogether

[2020-04-13 20:26] irmerk commented on #339
Combining with #337

[2020-04-13 20:26] #339 closed

[2020-04-13 20:49] shrey-sachdeva2000 opened #341 "Incorrect Cursor Position on Enter"
**Describe the bug**
Pressing <kbd>Enter</kbd> before/after a formatted text changes line but not the cursor position.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Click before/after formatted text (codeblocks, blockquotes, italics, bold)
3. Press <kbd>Enter</kbd>
4. The text enters a new line but the cursor position

[2020-04-13 20:58] #266 closed

[2020-04-13 22:01] shrey-sachdeva2000 opened #342 "Dragging Image Duplicates"
**Describe the bug**
Selecting and dragging an image within the Editor duplicates it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Click on the Concerto Model Image _or_ insert a new one
3. Drag it to a new position
4. The image is duplicated

**Expected behavior**
Only the position of the image should be changed.

**

[2020-04-13 23:19] Michael-Grover commented on #335
I want to add to this that pressing enter once should create a new list item, but pressing enter twice (or once on the new empty list item) should remove the list item and exit the list. See how Google Docs works

[2020-04-13 23:22] Michael-Grover commented on #334
Would it be difficult to make the border between the two editors movable, instead of dragging on the edge of one editor just changing the size of one editor but not the other? For example if I move the border right to expand the editor on the left, the editor on the right will automatically become smaller to accommodate. Like how you can move the borders between editors in codepen

https://codepen

[2020-04-13 23:25] Michael-Grover commented on #332
I noticed that linebreaks are not preserved in general while pasting, is that part of this issue? Should this issue be expanded to encompass that or should a new issue be made?

[2020-04-13 23:29] Michael-Grover opened #343 "Line Break not preserved on paste"
**Describe the bug**
When copying multiple lines and then pasting them, the line breaks are not preserved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Select "This is a\
hard break."
3. Press Mod+C to copy
4. Select somewhere in the middle of "This is a\
hard break."
5. Press  Mod+P to paste
6. See that the line brea

[2020-04-14 00:42] Michael-Grover opened #344 "Preserve formatting when pasting from Google Chrome, Word, etc."
**Is your feature request related to a problem? Please describe.**
Currently when a user copies text with simple formatting like italicization and bolding from a source like Microsoft Word or Google Docs, and then pastes that text into the markdown editor, none of the formatting is preserved.

As a user I would like as much of my formatting to be preserved as possible. I would expect basic formatt

[2020-04-14 00:47] Michael-Grover opened #345 "Move the "Preview" text somewhere less intrusive"
![image](https://user-images.githubusercontent.com/40569793/79174067-8a459000-7dc7-11ea-900c-e6b93f8eaba1.png)

I think we should move the "Preview" text somewhere less intrusive. When working with small amounts of markdown text, the "preview" label gets in the way and is distracting. I'm not even sure what the "preview" label is communicating. If the label is referring to the editor on the right

[2020-04-14 03:37] arteevraina commented on #345
I would like to work on this.

[2020-04-14 11:07] shrey-sachdeva2000 commented on #334
Thats sounds great! I created a prototype using [React Resizable](https://www.npmjs.com/package/react-resizable). It looks like this:

![Markdown Editor (8)](https://user-images.githubusercontent.com/47667325/79218434-08f50880-7e6e-11ea-81f0-cf9ed408f53a.gif)

Although, I think its better to not keep the `RichTextEditor` resizable because our `ToolbarMenu` would go out of proportion and snap. Some

[2020-04-14 14:35] Michael-Grover commented on #345
@arteevraina sure, thanks

[2020-04-14 14:40] Michael-Grover commented on #334
the third option looks good. Can we use this cursor instead of the diagonal one when resizing the box?
![image](https://user-images.githubusercontent.com/40569793/79237527-40e35800-7e3c-11ea-81a5-7f7f0831f5bd.png)

[2020-04-14 15:15] #325 closed

[2020-04-14 15:15] #327 closed

[2020-04-14 15:15] #328 closed

[2020-04-14 15:18] irmerk opened #347 "Hyperlink Modal Persists with Shift Tabbing Out"
**Describe the bug**
A user goes through extra steps to close the hyperlink modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Select the existing hyperlink
3. <kbd>SHIFT</kbd> + <kbd>TAB</kbd> twice
4. Type or press <kbd>ENTER</kbd>
5. Hyperlink modal does not close

**Expected behavior**
Modal should close if u

[2020-04-14 15:20] irmerk opened #348 "Hyperlink Removes Formatting"
**Describe the bug**
A user loses formatting in hyperlink

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Select everything with <kbd>MOD</kbd> + <kbd>A</kbd>
3. Select hyperlink button
4. Enter a hyperlink and apply
5. Formatting breaks

**Expected behavior**
Formatting should persist, or maybe protections on link

[2020-04-14 15:24] irmerk commented on #334
Still reading this and the PR you have, but I don't think this should even be scrollable. This is a demo so it should just be the markdown on the left and the rich text on the right. We should be able to avoid all this by just making them static.

[2020-04-14 15:27] irmerk commented on #332
Unsure yet, it's possible but I think looking into this issue further will reveal the answer to what you're asking.

[2020-04-14 15:28] irmerk commented on #343
Possibly related to #332

[2020-04-14 15:29] irmerk commented on #344
This may _possibly_ involve further work in the `markdown-transform`

[2020-04-14 15:40] dselman commented on #344
To debug these we need the HTML that they are putting on the clipboard. If it is a mess of `span` with css to apply formatting then it can be very hard to recover semantic content like `<h1>` etc.

[2020-04-14 19:07] #326 closed

[2020-04-14 19:14] DianaLease commented on #348
Closing as a dupe of #330

[2020-04-14 19:14] #348 closed

[2020-04-14 20:54] #321 closed

[2020-04-14 20:58] irmerk commented on #322
Part of this is that incorrect markdown seems to be created with new blockquotes:

[code]

[2020-04-14 20:59] irmerk commented on #320
Related to #322

[2020-04-15 14:52] elit-altum opened #352 "Ctrl/Cmd+ Z doesn't undo link removal"
**Describe the bug**
- Using ```ctrl/cmd + z``` doesn't restore the link after removing it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://accordproject-markdown-editor.netlify.com/
2. Click on 'link'
3. Remove the link using the link modal
4. Use the shortcut to undo the changes
5. The link remains as is

**Expected behavior**
The original link should be restored

**Desktop (p

[2020-04-15 14:52] elit-altum commented on #352
@irmerk Can I take a look at this ?

[2020-04-16 09:11] shrey-sachdeva2000 opened #354 "Multi-line Codeblocks Overlap in Blockquotes"
**Describe the bug**
Multiple codeblock lines overlap each other when put in blockquotes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo.](https://accordproject-markdown-editor.netlify.app/)
2. Select multiple lines of text
3. Click on the `Quote` button from the `Toolbar Menu`
4. Click on the `Code` button from the `Toolbar Menu`

**Expected behavior**
The `line-height` of

[2020-04-16 10:07] shrey-sachdeva2000 opened #355 "Preserve List Formatting in Blockquotes"
**Describe the bug**
The formatting of the list items is not preserved when the list items are put in blockquote.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://accordproject-markdown-editor.netlify.app/)
2. Select a list
3. Click on the `Quote` button from the `Toolbar Menu`
4. See the bug

**Expected behavior**
The list formatting should be preserved when the item

[2020-04-16 13:10] kanav-raina opened #356 "Delete Image Functionality missing while selecting it"
**Is your feature request related to a problem? Please describe.**
    The markdown editor should support deletion of inserted images. After clicking on the inserted images you are not able to delete it.

**Describe the solution you'd like**
   Image should be deleted by pressing backspace or delete key.

[2020-04-16 13:48] #293 closed

[2020-04-16 13:51] #296 closed

[2020-04-16 13:54] irmerk commented on #356
Yeah interesting. If you are in front of the image you can backspace, but not while selecting it.

[2020-04-17 17:49] arteevraina opened #360 "Line Height changing on using BlockQuote"
**Describe the bug**
Line Height is changing on applying `blockquote` on selected text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [demo](https://accordproject-markdown-editor.netlify.app/)
2. Select Text and make sure to have multiple lines of text for seeing the issue visually.
3. Apply `Blockquotes`.
4. See the changed `line-height`

**Expected behavior**`
Line-Height` should n

[2020-04-17 18:21] arteevraina opened #361 "Incorrect alignment of Bold Icon"
## Screenshot
![image](https://user-images.githubusercontent.com/43968121/79600867-79698700-8105-11ea-803b-a10d7316079d.png)

It should display Bold Icon without covering its ends.

[2020-04-17 18:57] arteevraina commented on #360
Closing this issue since this issue has been already mentioned in #354.

[2020-04-17 18:57] #360 closed

[2020-04-17 19:04] arteevraina opened #362 "Blockquotes not preserving Headings"
**Describe the bug**
When `Blockquotes` are applied on `Headings` they become `Normal`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [demo](https://accordproject-markdown-editor.netlify.app/)
2. Select any heading.
3. Select `Blockquote`.

**Expected behavior**
Headings should be preserved on using `Blockquotes`.

[2020-04-17 19:52] irmerk commented on #361
What width are you at? In the `markdown-editor` and `cicero-ui` demos I don't see this issue.

[2020-04-17 20:03] nik72619c commented on #352
@elit-altum are you still working on this?

[2020-04-17 21:35] arteevraina commented on #361
@irmerk I was using the demo[https://cicero-ui.netlify.app/?path=/story/components-template-library--template-library] with a `screen-zoom of 100%.`.
I was displaying properly in `cicero-ui`.

[2020-04-17 22:27] nik72619c commented on #361
Not able to

Same, unable to reproduce it
<img width="1280" alt="Screenshot 2020-04-18 at 3 56 13 AM" src="https://user-images.githubusercontent.com/30630904/79618783-a5e2ca80-8128-11ea-9f52-1a60db5a2093.png">

[2020-04-18 12:31] elit-altum commented on #352
Yup @nik72619c

[2020-04-18 18:11] arteevraina commented on #361
@nik72619c Sorry! I shared the link of cicero-ui. I have updated the link you can check if you can reproduce it in `mardown-editor`

[2020-04-18 19:09] nik72619c commented on #361
Thanks @arteevraina!
Still not able to reproduce though :(

<img width="1280" alt="Screenshot 2020-04-19 at 12 30 45 AM" src="https://user-images.githubusercontent.com/30630904/79668819-1ba47000-81d5-11ea-9e56-f9e9d327080d.png">

[2020-04-18 19:48] nik72619c opened #365 "Hyperlink Modal accepts invalid link values"
**Describe the bug**
The hyperlink modal accepts invalid link URLs. For eg:- a space, normal strings, etc.

**To Reproduce**
Steps to reproduce the behavior:
1. select a text
2. Click on the `Link` button on the top to convert the text to a link
3. enter an invalid link
4. The text converts to a link which points to the invalid link URL

**Expected behavior**
An error or at least a warning message

[2020-04-18 20:17] nik72619c commented on #365
@DianaLease @dselman I feel we can integrate `react-form` into this to apply validations. Would love to hear your thoughts on this :)

[2020-04-20 13:08] irmerk commented on #361
Closing, @arteevraina reopen or make a new issue if you have steps to reproduce.

[2020-04-20 13:08] #361 closed

[2020-04-20 13:10] irmerk commented on #365
I think Google Docs allows this. @Michael-Grover?

[2020-04-20 14:32] #330 closed

[2020-04-20 18:20] DianaLease commented on #365
If we add a library, I'm a fan of using https://github.com/final-form/react-final-form as it is well-maintained and lightweight while still offering a lot!

[2020-04-20 19:04] Michael-Grover commented on #365
I believe in another issue there was a decision that this error validation isn't necessary but I can't find it

[2020-04-20 19:13] #314 closed

[2020-04-20 20:39] irmerk commented on #324
This was fixed in #340

[2020-04-20 20:39] #324 closed

[2020-04-20 20:42] #334 closed

[2020-04-20 20:44] irmerk commented on #335
Opened an issue within Slate tracking this [here](https://github.com/ianstormtaylor/slate/issues/3624).

[2020-04-21 06:20] dselman opened #369 "Copy hyperlink in modal doesn't work"
Pressing the "Copy hyperlink text" button in the link editor modal doesn't copy the text to the clipboard.

**To Reproduce**
1. Go to https://cicero-ui.netlify.app/?path=/story/components-contract-editor--contract-editor
2. Add a hyperlink, using the toolbar and set the URL
3. Reopen the dialog and press the "copy hyperlink text" button
4. Paste the link
5. The link was not copied to the keyboard

[2020-04-21 06:21] nik72619c commented on #369
@dselman would like to work on this one :)

[2020-04-21 06:22] dselman commented on #369
It's yours!

[2020-04-21 15:35] nik72619c commented on #365
I am getting this error, after installing `react-final-form`, can someone help?

<img width="935" alt="Screenshot 2020-04-21 at 9 02 44 PM" src="https://user-images.githubusercontent.com/30630904/79885107-df128780-8413-11ea-969a-e51057dfd41d.png">

[2020-04-21 16:29] nik72619c commented on #365
Fixed.
Also, I wanted to ask if we would require a validation library such as `react-final-form` in this case?
There are not many validations required since the repo is not using forms extensively?

[2020-04-21 18:15] Michael-Grover commented on #365
I don't think this is necessary. Google Docs doesn't do this kind of validation. Are there examples of this kind of hyperlink validation in any prominent apps?

[2020-04-21 18:59] irmerk commented on #365
Yeah I don't think this needs to be that thorough. If the URL does not begin with `http://` or `https://`, add it. That should probably be the extent we do at this point.

[2020-04-21 19:00] #335 closed

[2020-04-21 21:11] nik72619c commented on #365
@irmerk shouldn't the logic be that if the URL begins with `http://` or `https://`, add it ?

[2020-04-21 21:24] irmerk commented on #365
I don't think we want to be that prescriptive of what a user enters as a URL

[2020-04-21 21:32] Michael-Grover opened #372 "Block quotes can't be escaped"
To reproduce bug:
1. Create a block quote
2. type something in it.
3. Press enter to create another block quote
4. Press enter again in the new empty block quote, deleting the new block quote and moving the cursor back to the previous block quote
5. Repeat steps 3 and 4 to infinity

Solution:
Pressing enter in a block quote escapes the block quote. Pressing shift+enter creates a new line within th

[2020-04-21 23:31] nik72619c commented on #365
oh okay, can we close this up then? @irmerk

[2020-04-22 07:04] elit-altum commented on #352
@irmerk I can't pinpoint where this might be coming from, can you please guide me a bit please ?
Thank You!

[2020-04-22 08:41] dselman commented on #352
Interesting that the undo button works, which indicates that it is not a Slate issue (at least not an issue with the undo buffer). I would look at how the keypress is being handled. Perhaps it is a focus issue with the modal stealing focus from the editor?

[2020-04-22 12:48] irmerk commented on #365
We can implement this change.

[2020-04-22 12:51] nik72619c commented on #365
got it, thanks :)
Sending a PR shortly

[2020-04-22 13:00] shrey-sachdeva2000 opened #373 "SHIFT+Enter in List Item"
**Describe the bug**
Currently, a new list item is created on pressing both `Enter` and `Shift+Enter`. The user should be able to add a new line wrapped within the same list item on pressing `Shift+Enter`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://accordproject-markdown-editor.netlify.app/)
2. Go the end of any list item
3. Press `Enter`/`Shift+Enter`
4. See th

[2020-04-22 14:23] irmerk commented on #372
This may be fixed with #371

[2020-04-22 17:18] #323 closed

[2020-04-22 17:20] #372 closed

[2020-04-22 17:22] irmerk commented on #373
This Issue should probably address <kbd>SHIFT</kbd>+<kbd>ENTER</kbd> for `block_quote` as well.

[2020-04-22 22:19] #331 closed

[2020-04-23 07:28] elit-altum commented on #352
Thank you for this @dselman !
I will take a look into this

[2020-04-23 14:13] #320 closed

[2020-04-23 14:16] irmerk commented on #354
Cannot reproduce, closing.

[2020-04-23 14:16] #354 closed

[2020-04-23 14:17] irmerk commented on #355
This bug no longer exists, but I suppose this raises the question of having blocks within blocks (lists in a quote). @jeromesimeon @dselman @Michael-Grover thoughts on the urgency of this being supported?

[2020-04-23 14:24] #352 closed

[2020-04-23 14:41] Michael-Grover commented on #355
Doesn't seem that urgent to me. Do nested lists count as blocks within blocks?

[2020-04-23 14:47] shrey-sachdeva2000 commented on #354
Yup, now sure what changed but it's fixed now!

[2020-04-23 15:11] shrey-sachdeva2000 opened #376 "Clicking on Pasted Link Changes Viewport"
**Describe the bug**
Pasting a link below the inital viewport of the editor and clicking on it, brings the editor viewport to the top. So the user has to scroll all the way down to edit the link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://accordproject-markdown-editor.netlify.app/)
2. Copy a link
3. Scroll down and paste it
4. Click on the link
5. See the bug

*

[2020-04-24 15:04] elit-altum commented on #369
@nik72619c are you able to recreate the issue ?

[2020-04-24 15:22] irmerk commented on #369
Yeah I'm unable to reproduce this. Closing, let me know if you can recreate it.

[2020-04-24 15:22] #369 closed

[2020-04-24 17:19] arteevraina commented on #362
Hi @irmerk ! I am not able to reproduce this issue anymore now.

[2020-04-24 17:26] jeromesimeon commented on #362
Might have been fixed in the migration to Slate57 ?

[2020-04-24 17:33] arteevraina commented on #356
hello @kanav-raina ! Are you still able to reproduce this issue?

[2020-04-24 18:11] elit-altum commented on #341
@shrey-sachdeva2000 @irmerk Can I take a look at this?

[2020-04-24 19:18] #362 closed

[2020-04-24 19:19] irmerk commented on #356
I just did, this issue still exists.

[2020-04-24 21:02] nik72619c commented on #369
not able to reproduce it either @elit-altum @irmerk

[2020-04-24 22:25] nik72619c opened #379 "Display a message in hyperlink modal to indicate that the link is copied"
**Is your feature request related to a problem? Please describe.**
Currently, when a user clicks on the copy button to copy the link to the clipboard, there is no message which tells the user that the link is copied.

**Describe the solution you'd like**
A simple message could be displayed in the modal indicating that the link is copied

[2020-04-25 06:23] kanav-raina commented on #356
hello @arteevraina , yes I am able to reproduce it.
you can backspace the image but when you click on the image and then press delete or backspace, it's not getting deleted.

[2020-04-26 07:22] elit-altum commented on #341
@dselman @irmerk Could you please guide me where this might be coming from?
I noticed something, that hitting enter in the formatted text works correctly. The cursor position only misbehaves if we press enter **after** the formatted text.

[2020-04-27 06:43] dselman commented on #341
Can you reproduce this with any of the Slate demos?

[2020-04-27 14:32] irmerk commented on #341
Yes in [this demo](https://www.slatejs.org/examples/richtext) click at the end of "**rich**" and press enter.

[2020-04-27 14:34] dselman commented on #341
Can you create an issue on the Slate repo please? Someone in the Slate community may have a fix or workaround.

[2020-04-27 14:36] elit-altum commented on #341
Yes

Yup it seems to be an issue with Slate only. Should I open an issue there @irmerk ?

[2020-04-27 17:10] irmerk commented on #341
Yes feel free @elit-altum, you can see some issue's I've opened there for format reference.

[2020-04-27 23:18] irmerk commented on #341
I made an issue (https://github.com/ianstormtaylor/slate/issues/3642)

[2020-04-28 11:25] elit-altum commented on #341
@irmerk Should we close this now ?

[2020-04-28 12:50] #341 closed

[2020-04-28 14:44] irmerk opened #381 "UI Realignment"
In the Slate migration, we have strayed a bit from the original editor styling. We need to ensure this is back on to specification, both in `cicero-ui` and in a parent component.

[2020-04-28 17:33] irmerk commented on #381
We need to decide what style / design we want in `markdown-editor` (RichTextEditor) _and_ `cicero-ui` (ContractEditor)

[2020-04-28 18:06] irmerk commented on #381
I believe the backgrounds of the `FormattingToolbar` icons should be transparent.

[2020-04-28 18:44] nik72619c commented on #381
@irmerk is this free to work on ?

[2020-04-28 19:03] irmerk commented on #381
Yes, I think it would be most beneficial to propose ideas in this issue first.

[2020-04-28 19:08] arteevraina commented on #381
@irmerk I think we should have a `Quick Tour` for the user who is new to markdown editor to get familiar with it.

[2020-04-28 21:30] irmerk commented on #381
I think that would be a good separate issue to raise @arteevraina, but also might be better implemented after we get our Storybook settled and see if that solves the issue.

[2020-04-28 21:32] #337 closed

[2020-04-28 21:32] #345 closed

[2020-04-28 22:39] nik72619c commented on #381
Makes sense, will point out some :)

[2020-04-29 18:26] #319 closed

[2020-04-30 14:10] irmerk commented on #249
@elit-altum what is the status on this one?

[2020-04-30 14:10] #272 closed

[2020-04-30 14:11] #302 closed

[2020-04-30 14:20] irmerk commented on #198
I believe this relates to #344

[2020-04-30 14:22] #182 closed

[2020-04-30 14:26] irmerk commented on #236
Is this Issue finished?

[2020-04-30 14:27] irmerk commented on #240
This looks solved.

[2020-04-30 14:27] #240 closed

[2020-04-30 14:29] jeromesimeon commented on #240
Magic of Slate57? Does it keep a text node around?

[2020-04-30 14:32] elit-altum commented on #249
@irmerk This shortcut has been added after the slate v57 update. We can close this now!

[2020-04-30 14:33] #279 closed

[2020-04-30 14:34] #288 closed

[2020-04-30 14:35] irmerk commented on #286
Cannot reproduce.

[2020-04-30 14:35] #286 closed

[2020-04-30 14:37] jeromesimeon commented on #238
It does not look fixed. I just think it's not that easy to see since code blocks look exactly as multiple paragraphs containing code inlines.

This might have to be generalised into "Support for Code block". I am not able to edit one.

[2020-04-30 14:40] irmerk opened #387 "Dependencies Cleanup"
Need to take a hard look at all our dependencies.

This impacts security, development workflow (slow builds), and page load times.

[2020-04-30 14:52] #249 closed

[2020-04-30 14:56] #365 closed

[2020-04-30 20:03] shrey-sachdeva2000 commented on #381
Hi @irmerk! I designed some mockups for the same. I believe the design should be kept very minimal yet aesthetic, so others could use the component without the hassle to change the default styling.

![mockup_markdown_editor2](https://user-images.githubusercontent.com/47667325/80753415-dc6a0d80-8b4a-11ea-812d-095d7b7e2873.jpg)

Some ideas I think might be good to incorporate are:
1. Add minimal sty

[2020-04-30 20:55] Michael-Grover commented on #381
@shrey-sachdeva2000 that looks good but there are some areas with low contrast like here:
![image](https://user-images.githubusercontent.com/40569793/80757727-9db06500-8b02-11ea-87bb-cdad1ea35455.png)

I like the idea of two frames side-by-side for the markdown/preview

I think what we have already serves as a great out of the box style, as everything is already minimal and high contrast. I will s

[2020-04-30 21:00] Michael-Grover commented on #381
I will take a shot at a mockup in the next couple days but as a preview it will probably look the layout of what @shrey-sachdeva2000 sent and the details (such as icons and contrast level) of the existing cicero UI contract editor

[2020-04-30 22:30] irmerk commented on #381
Great! I agree, I think minimal sounds good.

Do you mean the component on the left in your screenshot? I think we should focus on this less, because this is the specific demo we use for development. Rather, it should be the last step, I think. This will change in the Storybook implementation (can see locally with [the work](https://github.com/accordproject/web-components) Dan is doing)

Same poin

[2020-05-01 11:57] shrey-sachdeva2000 commented on #381
That makes sense! Thank you for the feedback. @Michael-Grover @irmerk

[2020-05-01 16:11] shrey-sachdeva2000 opened #389 "List Formatting Not Preserved in Headings"
**Describe the bug**
Headings when converted to lists, do not preserve the list formatting i.e. the list item number/bullets are not shown. Please see the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://accordproject-markdown-editor.netlify.app/).
2. Select any heading
3. Select Numbered/Bulleted list from the Toolbar Menu
4. See the bug

**Expected

[2020-05-01 16:17] shrey-sachdeva2000 commented on #389
I think I found another with this, if you try to select a heading by double clicking the heading, an extra empty node is also added like this one:
![headings](https://user-images.githubusercontent.com/47667325/80820670-f829ee00-8bf4-11ea-95bd-c56f084780c5.PNG)
Because of which, now if you try to convert this heading to a blockquote/list it would also wrap the line below it.
![headings2](https://us

[2020-05-01 17:15] #376 closed

[2020-05-01 17:18] irmerk commented on #389
That second issue seems to be present in Slate itself ([demo](https://www.slatejs.org/examples/richtext))

[2020-05-01 17:22] shrey-sachdeva2000 commented on #389
For some reason, in the Slate demo this issue doesn't persist with codeblocks but only lists. Anyway, I'll open an issue for this there.

[2020-05-01 18:51] Michael-Grover commented on #381
Can we discuss this at the next tech WG meeting? I was going to bring it up at this week's meeting but the agenda was packed. I will show a mockup at then

[2020-05-04 14:31] irmerk commented on #255
I believe this is closed with the Slate migration.

[2020-05-04 14:31] #255 closed

[2020-05-04 18:51] #356 closed

[2020-05-05 15:42] dselman opened #392 "Convert multiple items to list doesn't display list separator"
Select multiple lines of normal text and convert to a list. The list item separators (numbers or bullets do not show up).

**To Reproduce**
1. Enter multiple lines of text
2. Select the lines
3. Press the ol or ul list buttons
4. Note that the text is indented but it doesn't get the bullet or number. Pressing the button twice will insert the bullet or number.

**Expected behavior**
List items shou

[2020-05-05 15:47] irmerk commented on #392
I can't replicate this in the [demo](https://accordproject-markdown-editor.netlify.app/)

[2020-05-07 20:55] Michael-Grover commented on #381
As discussed in the Tech WG call, we are going with this design for the default markdown editor and contract editor.

![image](https://user-images.githubusercontent.com/40569793/81343014-36566000-9082-11ea-943e-9939ab384afa.png)

It is mostly the same as the contract editor demo [as seen in storybook](https://cicero-ui.netlify.app/?path=/story/components-contract-editor--contract-editor) (see belo

[2020-05-13 14:00] irmerk commented on #2
Closing for https://github.com/accordproject/web-components/issues/14

[2020-05-13 14:00] #2 closed

[2020-05-13 14:04] irmerk commented on #26
I believe this is supported, closing.

[2020-05-13 14:04] #26 closed

[2020-05-13 14:09] #129 closed

[2020-05-13 14:10] irmerk commented on #170
Closing, reopen in `web-components` if still an issue.

[2020-05-13 14:10] #170 closed

[2020-05-13 14:15] irmerk commented on #208
This seems to be resolved.

[2020-05-13 14:15] #208 closed

[2020-05-13 14:17] irmerk commented on #209
This seems to be resolved.

[2020-05-13 14:17] #209 closed

[2020-05-13 14:17] irmerk commented on #210
Seems resolved.

[2020-05-13 14:17] #210 closed

[2020-05-13 14:18] irmerk commented on #198
Seems resolved. Open new in `web-components` if not.

[2020-05-13 14:18] #198 closed

[2020-05-13 14:27] jeromesimeon commented on #236
There are no more Slate schemas! Closing this as moot.

[2020-05-13 14:27] #236 closed

[2020-05-13 14:43] #392 closed